﻿@{
    ViewBag.Title = "Página no Encontrada";
    Layout = null;
}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>La página no existe</title>
    @Styles.Render("~/content/css_error")
    <!--[if lt IE 9]>
        <script type="text/javascript">
            #wrapper { height:100%; }
           document.createElement("nav");
           document.createElement("header");
           document.createElement("footer");
           document.createElement("section");
           document.createElement("figure");
           document.createElement("figcaption");
           document.createElement("article");
           document.createElement("aside");
           document.createElement("hgroup");
        </script>
        <style type="text/css">
            header
            ,nav
            ,section
            ,figure
            ,figcaption
            ,article
            ,aside
            ,footer
            ,hgroup 
            { 
                display: block;
            }
        </style>
    <![endif]-->

</head>
<body>

    <div id="wrapper">
        <div id="header">
            <header class="header-categories">
                <h1>
                    <span class="yellow">La página que busca no existe o se ha movido del sitio.
                    Pruebe nuevamente en nuestro <a href="/Home/">inicio</a></span>
                </h1>
                <div class="city"></div>
                <div class="hipster"></div>
                
                <div class="line"></div>
            </header>
        </div>

    </div>
</body>
</html>


