﻿@model jardinMvc.Models.RegisterModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutWm.cshtml";
}

@section css
{
    <style>
        #content {
            padding-top: 45px !important;
        }
    </style>
    
}

<p class="lead">
    <span class="pink">Crear</span>
    <span class="pink">Empresa</span>
</p>

@using (Html.BeginForm("Create", "Empresa", FormMethod.Post, new { onsubmit = "validarCampos()" }))
{
    @*@Html.AntiForgeryToken()*@
    @Html.ValidationSummary()

    <fieldset>

        <div class="editor-label">
            @Html.Label("Nombre Empresa")
        </div>
        <div class="editor-field">
            @Html.TextBox("nombre")
            <div id="spanNom" style="display:none;">Este campo es requerido</div>
            <br />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword)
        </div>
        <br />
        <p>
            <input type="submit" id="btnValidate" name="btnValidate" class="btn btn-primary" value="Crear" />
            &nbsp;
            <input type="button" class="btn btn-primary" onclick="Regresar()" value="Regresar" />
        </p>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        
        $(document).ready(function () {
            $("#liEmpresa").addClass("active");
        });

        function Regresar() {
            document.location = "../Empresa/Index"
        }

        function validarCampos() {
            var nom = $('#nombre').val();
            if (nom == "") {
                $('#spanNom').css("display", "block");
                return false;
            }
            return true;
        }

    </script>
}