﻿@model jardinMvc.Context.tbl_empresa

@{
    ViewBag.Title = "Delete";
}

@section css
{
    <style>
        #content {
            padding-top: 45px !important;
        }
    </style>
    
}

<p class="lead">
    <span class="pink">Crear</span>
    <span class="pink">Registro</span>
</p>

<h3>Está seguro que desea eliminar ?</h3>
<fieldset>
    <legend>tbl_empresa</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.empresa_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.empresa_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.empresa_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.empresa_nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.empresa_descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.empresa_descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.empresa_imagen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.empresa_imagen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tbl_categoria.categoria_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbl_categoria.categoria_nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Volver al listado", "Index")
    </p>
}
