﻿@model jardinMvc.Context.tbl_empresa

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutWmEmpresa.cshtml";
    //Layout = null;
}

@section css 
{
    @Styles.Render("~/content/css_admin_empresas")
}

@section nav 
{
    <nav class="profile">
        <div>
            <a href="/Empresa/Edit/@Model.empresa_id" class="rotate_index">
                <label>Mi Empresa</label>
            </a>
            <a href="/EventoEmpresa/Index/@Model.empresa_id" class="rotate_index">
                <label>Mis Eventos</label></a>
        </div>
    </nav>
}

<p class="lead">
    <span class="pink">Actualizar</span>
    <span class="pink">Empresa</span>
</p>

@if (@TempData["msg"] != null)
{
    if (!String.IsNullOrWhiteSpace(@TempData["msg"].ToString()))
    {
    <div class="alert alert-block">
        <h4>Mensaje de confirmación!</h4>
        @TempData["msg"]
    </div>
    }
}
@using (Html.BeginForm("Edit", "Empresa", FormMethod.Post, new { @encType = "multipart/form-data", id = "formAdmin" }))
{
    @Html.ValidationSummary(true)

    <div class="editor-field">
        @Html.HiddenFor(model => model.empresa_id)
        @Html.HiddenFor(model => model.empresa_estado)
    </div>

    <div style="float: right; width: 50%;">
        <label class="galeria">
            <span class="pink">Galería de</span>
            <span class="pink">Imágenes</span>
        </label>
        @if (Model.tbl_imagen.Count > 0)
        {
            foreach (var item in Model.tbl_imagen)
            {
            <img src="@Url.Content("~/Images/Empresa/GaleriaThumbs/" + @item.imagen_nombre + "")" style="margin:5px;" />
            @Html.ActionLink("Eliminar", "EliminarImagen", new { imgCodigo = @item.imagen_id }, new { @class = "confirmDialog eliminarIconos_wm" })
            }
        }
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_nombre)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.empresa_nombre)
        @Html.ValidationMessageFor(model => model.empresa_nombre)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_descripcion)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.empresa_descripcion, new { style = "height:200px" })
        @Html.ValidationMessageFor(model => model.empresa_descripcion)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_correo)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.empresa_correo)
        @Html.ValidationMessageFor(model => model.empresa_correo)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_telefono)
        <label style="font-weight:normal;">(visible en el perfil)</label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.empresa_telefono)
        @Html.ValidationMessageFor(model => model.empresa_telefono)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_telContacto)
        <label style="font-weight:normal;">(solo será visible para el administrador del sitio)</label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.empresa_telContacto)
        @Html.ValidationMessageFor(model => model.empresa_telContacto)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_facebook)
        <label style="font-weight:normal;">ejemplo https://www.facebook.com/Quehacemospues </label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.empresa_facebook)
        @Html.ValidationMessageFor(model => model.empresa_facebook)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_twitter)
        <label style="font-weight:normal;">ejemplo https://twitter.com/quehacemospues </label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.empresa_twitter)
        @Html.ValidationMessageFor(model => model.empresa_twitter)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_imagen)  <label style="font-weight:normal;"> dimensiones mínimas sugeridas 400px de ancho x 245px de alto y peso máximo 5mb </label>
    </div>
    <div class="editor-field">
        <img src="~/Images/Empresa/Thumbs/@Model.empresa_imagen" />
        <input type="hidden" id="imagenAnt" name="imagenAnt" value="@Model.empresa_imagen" />
        <br />
        <br />
        @Html.TextBoxFor(m => m.empresa_imagen, new { type = "file" })
        @Html.ValidationMessageFor(model => model.empresa_imagen)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.categoria_id, "Categoría")
    </div>
    <div class="editor-field">
        @Html.DropDownList("categoria_id")
        @Html.ValidationMessageFor(model => model.categoria_id)
    </div>
    <br />
    <div class="editor-label">
        @Html.Label("Subcategorías")
    </div>
    <div id="divSubcategorias" class="checkbox" style="width: 20%;">
    </div>
    <br />
    <div class="editor-label">
        <label style="font-weight:normal;">Galería Imágenes: (peso máximo de cada imagen 5mb)</label>
        <br />
            <input type="button" onclick="AddFileUpload()" value="Agregar Imagen" class="btn btn-primary" />
            @*<a href="#" id="addScnt" onclick = "AddFileUpload()">Agregar Imagen</a>*@
    </div>
    @*<div id="p_scents" class="editor-label">
        <p>
            <br />
            <span>Imagen:</span>
            &nbsp;
                <span>
                    <input type="file" id="images" name="images" value="Examinar" style="margin-top: -1%;" />
                </span>
        </p>
    </div>*@
    <div id = "FileUploadContainer" style="margin-top:15px;">
        <!--FileUpload Controls will be added here -->
    </div>

    <div class="editor-field">
        @Html.HiddenFor(model => model.userName)
    </div>
    <br />
    <p>
        <input type="submit" class="btn btn-primary" onclick="cargarGif()" value="Actualizar" />
    </p>
}

<div id="loading" class="CargandoModalBackground_internas">
    <img src="@Url.Content("~/Content/ajax-loader.gif")" alt="Enviando" />
    <br />
    <label style="color: black">
        Enviando...
    </label>
</div>

@section scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function cargarGif() {
            $("#loading").css("display", "block");
        }

        var counter = 0;
        function AddFileUpload() {

            if (counter < 8) {
                var div = document.createElement('DIV');
                div.innerHTML = '<input id="file' + counter + '" name="images" type="file" />' +
                                '<input id="Button' + counter + '" type="button" ' +
                                'value="Remover" class="btn btn-primary" style="margin-left: 10px;" onclick = "RemoveFileUpload(this)" />';
                document.getElementById("FileUploadContainer").appendChild(div);
                counter++;
            } else
            {
                alert("Solo se permiten máximo 8 imágenes por empresa");
            }
        }

        function RemoveFileUpload(div) {
            document.getElementById("FileUploadContainer").removeChild(div.parentNode);
            counter--;
        }

        $(document).ready(function () {

            //var scntDiv = $('#p_scents');
            //var i = $('#p_scents p').size() + 1;

            //$("#addScnt").click(function () {
            //    if (i < 8) {
            //        $('<p id="parrafo_' + i + '"><br /><span>Imagen:&nbsp;</span>&nbsp;&nbsp;&nbsp;<span><input type="file" id="images_' + i + '" name="images" value="Examinar" style="margin-top:-1%;" /></span><br /><a href="#" id="remScnt_' + i + '">Eliminar</a></p>').appendTo(scntDiv);
            //        asignarClickRemover(i);
            //        i++;
            //    } else {
            //        alert("Solo se permiten máximo 7 imágenes por empresa");
            //    }
            //    return false;
            //});

            //function asignarClickRemover(indice) {
            //    $("#remScnt_" + indice).click(function () {
            //        if (i > 2) {
            //            $(this).parents('p').remove();
            //            i--;
            //        }
            //        return false;
            //    });
            //}


            $("#categoria_id").ready(function () {

                $("#liEmpresa").addClass("active");

                var empId = $('#empresa_id').val();
                var list = $('#categoria_id').val();
                var subDiv = $("#divSubcategorias");
                subDiv.empty();
                $.getJSON("/Empresa/SubcategoriasEmpresa", { categoria_id: list, empresa_id: empId }, function (result) {
                    $.each(result, function (i, field) {
                        $('<input type="checkbox" ' + field.check + ' id="' + field.identificador + '" value="' + field.identificador + '" name="checkSubcategorias"/><label for=' + field.identificador + ' name="lblEspeciales"> ' + field.nombre + ' </label>').appendTo(subDiv);
                    });

                });
            });

            $("#categoria_id").change(function () {

                var empId = $('#empresa_id').val();
                var list = $('#categoria_id').val();
                var subDiv = $("#divSubcategorias");
                subDiv.empty();
                $.getJSON("/Empresa/SubcategoriasEmpresa", { categoria_id: list, empresa_id: empId }, function (result) {
                    $.each(result, function (i, field) {
                        $('<input type="checkbox" ' + field.check + ' id="' + field.identificador + '" value="' + field.identificador + '" name="checkSubcategorias" /><label for=' + field.identificador + '> ' + field.nombre + ' </label>').appendTo(subDiv);
                    });

                });
            });
        });

    </script>
}
