﻿@{
    ViewBag.Title = "Edit";
    //Layout = "~/Views/Shared/_LayoutWmEmpresa.cshtml";
    Layout = null;
}

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap2.3.min.css">
    @Styles.Render("~/content/css_admin_empresas")
    @RenderSection("css", false)

    <!--[if lt IE 9]>
        <script type="text/javascript">
           document.createElement("nav");
           document.createElement("header");
           document.createElement("footer");
           document.createElement("section");
           document.createElement("figure");
           document.createElement("figcaption");
           document.createElement("article");
           document.createElement("aside");
           document.createElement("hgroup");
        </script>
        <style type="text/css">
            header
            ,nav
            ,section
            ,figure
            ,figcaption
            ,article
            ,aside
            ,footer
            ,hgroup 
            { 
                display: block;
            }
        </style>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <header class="header-form">
                <div class="inicio">
                    <a href="/Account/Manage" title="Cambiar Contraseña">
                        <span class="yellow">Actualizar mis Datos</span>
                    </a>
                    /
                    <a href="/Account/Exit" title="Cerrar Sesión">
                        <span class="yellow">Salir</span>
                    </a>
                </div>
                <h1>
                    <span class="white">For</span>
                    <span class="pink">m</span>
                    <span class="white">ulario</span>
                </h1>
                <div class="pencil">
                    <img src="/Images/form/pencil.png" alt="">
                </div>
                <div class="line"></div>
            </header>
            @RenderSection("nav", false)
            
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">
            <span>Catapulta Ideas 2013 - mercadeoyventas@@quehacemospues.com</span>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    @RenderSection("scripts", false)

</body>
</html>

