﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Que Hacemos Pues</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
   @* <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
   *@ 
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    @RenderSection("css", false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/js")*@
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
