﻿@{
    ViewBag.Title = "Inicio";
    Layout = null;
    var correo = TempData["correo"];
}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    @Styles.Render("~/content/categorias")
    @Styles.Render("~/content/css_contacto")
    <!--[if lt IE 9]>
        <script type="text/javascript">
            #wrapper { height:100%; }
           document.createElement("nav");
           document.createElement("header");
           document.createElement("footer");
           document.createElement("section");
           document.createElement("figure");
           document.createElement("figcaption");
           document.createElement("article");
           document.createElement("aside");
           document.createElement("hgroup");
        </script>
        <style type="text/css">
            header
            ,nav
            ,section
            ,figure
            ,figcaption
            ,article
            ,aside
            ,footer
            ,hgroup 
            { 
                display: block;
            }
        </style>
    <![endif]-->

</head>
<body>

    <div id="wrapper">

        <div id="header">
            <header class="header-categories">
                <h1>
                    <span class="yellow">Que</span>
                    <span class="yellow">hacemos</span>
                    <span class="pink">pues</span>
                </h1>
                <div class="city">
                </div>
                <div class="login_logout">
                    <a href="/Perfil/Crear" class="btn-1">Registrarse</a>
                    <label>o</label>
                    <a href="/Admin" class="btn-2">Entrar</a>
                </div>
                <div class="hipster"></div>
                <div class="bici"></div>

                <div class="texto_contactenos_categorias">
                    <a data-toggle="modal" href="#responsive" onclick="limpiar()" class="social">
                        <img src="~/Images/contactenos.png" class="rotate_index contacto">
                    </a>
                </div>
                <div class="line"></div>
            </header>
        </div>

        <div id="content">

            <section class="categories" id="seccionCategorias" style="width: 65%; display: inline-block;">
                <figure id="cat_restaurantes" class="rotate">
                    <a href="/Categoria/QueHacemosPues/1/Restaurantes" class="enlace_imagenes_borde">
                        <img src="~/Images/categories/item_restaurantes.png" class="imgItem" alt="Restaurantes">
                        @*<figcaption>Restaurantes</figcaption>*@
                    </a>
                </figure>

                <figure id="cat_diversion" class="rotate">
                    <a href="/Categoria/QueHacemosPues/2/Entretenimiento" class="enlace_imagenes_borde">
                        <img src="~/Images/categories/item_diversion.png" class="imgItem" alt="diversion">
                    </a>
                </figure>


                <figure id="cat_turismo" class="rotate">
                    <a href="/Categoria/QueHacemosPues/3/Turismo" class="enlace_imagenes_borde">
                        <img src="~/Images/categories/item_turismo.png" class="imgItem" alt="turismo">
                    </a>
                </figure>

                <figure id="cat_cultura" class="rotate">
                    <a href="/Categoria/QueHacemosPues/4/Cultura" class="enlace_imagenes_borde">
                        <img src="~/Images/categories/item_cultura.png" class="imgItem" alt="Cultura">
                    </a>
                </figure>


                <figure id="cat_hospedaje" class="rotate">
                    <a href="/Categoria/QueHacemosPues/5/Hospedaje" class="enlace_imagenes_borde">
                        <img src="~/Images/categories/item_hospedaje.png" class="imgItem" alt="Hospedaje">
                    </a>
                </figure>

                <figure id="cat_promociones" class="rotate">
                    <a href="/Categoria/QueHacemosPues/6/Comercio" class="enlace_imagenes_borde">
                        <img src="~/Images/categories/item_comercio.png" class="imgItem" alt="Comercio">
                    </a>
                </figure>
            </section>
            <section class="categories" id="seccionEventos" style="width: 34%; float: right; z">
                <div class="divEvento">
                    <div class="divLista">
                        <ul class="ulEstilo">
                            cargando eventos ...
                            @*@foreach (var evento in ViewBag.listadoEventos)
                            {
                                <li style="background-image: url(/Images/Empresa/Thumbs/@evento.tbl_empresa.empresa_imagen);">
                                    <a href="/Perfil/Empresa/@evento.empresa_id/@evento.tbl_empresa.empresa_nombre_url">
                                        <span id="titulo-evento">@evento.evento_nombre</span> &nbsp;&nbsp; @evento.evento_fechaEvento.ToShortDateString()
                                        <br />
                                        <br />
                                        <span id="texto-evento">
                                            @evento.evento_descripcion
                                        </span>
                                    </a>
                                </li>
                            }*@
                        </ul>
                    </div>
                </div>
            </section>

        </div>
        <div id="footer">
            <div class="social">
                <a href="https://www.facebook.com/Quehacemospues" target="_blank" title="Ir a Facebook">
                    <img src="~/Images/icon_facebook.png" class="rotate"></a>
                <a href="https://www.twitter.com/quehacemospues" target="_blank" title="Ir a Twitter">
                    <img src="~/Images/icon_twitter.png" class="rotate"></a>
            </div>
            <span>Catapulta Ideas 2013 - mercadeoyventas@@quehacemospues.com</span>
        </div>

    </div>

    <!-- Modal Definitions (tabbed over for <pre>) -->
    <div id="responsive" class="modal fade" tabindex="-1" data-width="370" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title titulo_formulario">Formulario de Contacto</h4>
        </div>
        @using (Html.BeginForm("EnviarMensaje", "Contacto", FormMethod.Post, new { id = "form-contacto" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div>
                    <div>
                        <p>
                            <label class="texto_formulario">Como te Llamas ?</label>
                            <input class="form-control letter_contact" id="name" name="name" type="text" />
                        </p>
                        <p>
                            <label class="texto_formulario">Tu Correo por Favor ?</label>
                            <input class="form-control letter_contact" id="email" name="email" type="text" />
                        </p>
                        <p>
                            <label class="texto_formulario">Tu Mensaje</label>
                            <textarea class="form-control letter_contact" id="message" name="message"></textarea>
                        </p>
                    </div>
                    <input type="hidden" name="tipo" value="inicio" />
                    <label id="enviando" class="texto_formulario" style="display: none">Enviando...</label>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" onclick="enviar()" value="Contactar" />
                &nbsp;
                <input type="button" data-dismiss="modal" class="btn btn-primary" value="Regresar" />

            </div>
        }
    </div>

    <a data-toggle="modal" id="resCorreo" href="#respCorreo" class="social"></a>
    <!-- Indica si el correo se envío correctamente -->
    <div id="respCorreo" class="modal fade" tabindex="-1" data-width="370" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title titulo_formulario">Aviso Que Hacemos Pues</h4>
        </div>
        <div class="modal-body">
            <div>
                <div class="">
                    <p>
                        <label class="texto_formulario" id="txtValidacion"></label>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" data-dismiss="modal" class="btn btn-primary" value="Aceptar" />
        </div>
    </div>
    <input type="hidden" id="correo" value="@correo" />

    <script id="listado-eventos-template" type="application/html-template">

        <li id="item-evento" style="background-image: url(/Images/Empresa/Thumbs/{{empresaImagen}});">
            <a href="/Perfil/Empresa/{{empresaId}}/{{empresaNombreUrl}}">
                <span id="titulo-evento">{{eventoNombre}}</span> &nbsp;&nbsp; {{eventoFecha}}
                <br />
                <br />
                <span id="texto-evento">
                    {{eventoDescripcion}}
                </span>
            </a>
        </li>
    </script>


    @Scripts.Render("~/content/js_contacto")
    <script>$(document).ready(function () {
    var cor = $("#correo").val(); if (cor === "1") { $("#txtValidacion").text("El correo ha sido enviado Exitosamente. Pronto estaremos en contacto !"); $("#resCorreo").trigger('click'); }
    else if (cor === "0") { $("#txtValidacion").text("Ha ocurrido un error. Intenta en unos minutos !"); $("#resCorreo").trigger('click'); }
}); var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-47117620-1']); _gaq.push(['_trackPageview']); (function () { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();

    </script>
</body>
</html>


