html,body { 
	margin:0;
	padding:0;
	overflow-x: hidden !important; 
}

#bannerBg{
	background:url(preview_images/responsive/opportuneResponsive.jpg) center top no-repeat;
}
#containingDiv {
	width:960px;margin:37px auto;	
}
#bottomText {
	width:100%; font:18px 'Lato', sans-serif; color:#333333; border-top:1px solid #cccccc; padding:10px 0 0 0; margin-top:100px; text-align:center;
}

@media screen and (min-width:1200px){
#bannerBg{
	background:url(preview_images/responsive/opportuneResponsive.jpg) center top no-repeat;
}
#containingDiv {
	width:960px;margin:37px auto;	
}
#bottomText {
	width:100%; font:18px 'Lato', sans-serif; color:#333333; border-top:1px solid #cccccc; padding:10px 0 0 0; margin-top:100px; text-align:center;
}
}

@media screen and (max-width:767px){
#bannerBg {
	background:url(preview_images/responsive/opportuneResponsive767.jpg) center top no-repeat;
}
#containingDiv {
	width:100%;margin:37px auto;padding:60px 0 0 0;	
}	
#bottomText {
	width:100%;font:14px 'Lato', sans-serif; color:#333333; border-top:1px solid #cccccc; padding:10px 0 0 0; margin-top:50px; text-align:center;
}
}