body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: transparent url('../Images/corcho.jpg') repeat 0 0;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

header {
    position: relative;
    height: 330px;
    background: transparent url('../Images/turquesa.jpg') repeat 0 0;
    overflow: hidden;
}

    header h1 {
        margin: 0;
        padding: 0;
        position: absolute;
        line-height: 90px;
        top: 37%;
        margin-top: -65px;
        right: 24%;
    }

h1 {
    margin: 0;
    text-align: center;
    padding-top: 80px;
    font-family: 'grinchedregular';
    font-size: 94px !important;
    font-weight: normal;
    -webkit-text-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 0 10px rgba(0,0,0,0.5);
    -ms-text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

    h1 label {
        display: block;
    }

header .social {
    bottom: auto;
    top: 20px;
    right: 20px;
}

header .hipster {
    background: transparent url('../Images/categories/hipster_1.png') no-repeat 0 0;
    position: absolute;
    bottom: 0px;
    left: 10%;
    width: 233px;
    height: 320px;
}

header .bici {
    background: transparent url('../Images/categories/bici_1.png') no-repeat 0 0;
    position: absolute;
    bottom: 0px;
    right: 32%;
    width: 442px;
    height: 205px;
}

.social a img {
    width: 50px !important;
}


header .city {
    background: transparent url('../Images/categories/city_1.png') no-repeat 0 0;
    position: absolute;
    top: -17px;
    left: 20%;
    width: 193px;
    height: 57px;
    color: #fff;
    line-height: 58px;
    font-size: 40px;
    text-align: center;
    font-family: 'grinchedregular';
}

header .login_logout {
    position: absolute;
    top: -6px;
    left: 46%;
    width: 193px;
    height: 57px;
    color: #fff;
    line-height: 58px;
    font-size: 26px;
    text-align: center;
    font-family: 'grinchedregular';
}



.btn-2 {
    left: 44%;
     width: 15px;
}

header .login_logout a {
    
    text-decoration:none;
    color: #ffffff;
}

header .login_logout label {
    color: #ffff00;
}


    header .city b {
        font-weight: normal;
    }

    header .city .yellow {
        color: #ffff00;
    }

header .line {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 37px;
    background: transparent url('../Images/categories/line_yellow.png') repeat 0 0;
}

.line_footer {
    position: relative;
    left: 0;
    width: 100%;
    height: 37px;
    background: transparent url('../Images/categories/line_yellow.png') repeat 0 0;
}


.categories figure {
    display: inline-block;
    position: relative;
    margin: 35px -4px 30px 20px;
}

    .categories figure figcaption {
        color: #000;
        font-size: 45px;
        line-height: 30px;
        font-family: 'christopherhandregular';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }

.categories #cat_restaurantes figcaption {
    bottom: 35px;
    right: 16px;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}

.categories #cat_diversion figcaption {
    bottom: 41px;
    left: 34px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.categories #cat_turismo figcaption {
    bottom: 34px;
    left: 34px;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

.categories #cat_cultura figcaption {
    bottom: 39px;
    left: 34px;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

.categories #cat_hospedaje figcaption {
    bottom: 33px;
    left: 0px;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}


.categories #cat_promociones figcaption {
    bottom: 43px;
    left: 34px;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

#seccionCategorias {
    display:inline-block !important;
}

@media (max-width: 1200px) {

    #seccionEventos {
        width: 41% !important;
    }

    #seccionCategorias {
        width: 50% !important;
    }

}

@media (max-width: 1100px) {

   #seccionEventos {
        width: 46% !important;
    }

    #seccionCategorias {
        width: 50%;
    }

}

@media (max-width: 1043px) {

    #seccionCategorias figure {
        display: inline !important;
    }
}

@media (max-width: 1011px) {

    /*#seccionEventos {
        width: 100% !important;
        padding-left: 50% !important;
        float:left !important;
    }

 

    #seccionCategorias figure {
        display:inline !important;
    }*/

    #seccionCategorias {
        /*padding-left: 10% !important;*/
        
    }

    .imgItem {
        width:200px !important;
        height:auto !important;
    }

}


@media (max-width: 1000px) {

    body header h1 {
        font-size: 90px;
        right: 2%;
    }

    body header .bici {
        right: 15%;
    }

    body header .hipster {
        left: 2%;
    }
}

@media (max-width: 978px) {

    #seccionEventos {
        width:49% !important;
    }
}

@media (max-width: 880px) {

     #seccionEventos {
        width:54% !important;
    }

    #seccionCategorias {
        width:42% !important;
    }

      .imgItem {
        width:159px !important;
        height:auto !important;
    }

    #content {
        padding-bottom:190px !important;
    }

}


@media (max-width: 840px) {

   .imgItem {
        width: 30% !important;
        height: auto;
   }

    #seccionCategorias {
        display:block;
        width:100% !important;
    }

    #seccionEventos {
        width:100% !important;
        padding: 20px 0  0 20px !important;
     
    }

     #content {
        padding-bottom:800px !important;
    }
   
}


@media (max-width: 800px) {

    body header h1 {
        width: 70%;
        line-height: 90px;
    }

    body header .bici {
        bottom: -60px;
        right: -20px;
    }

    body header .hipster {
        left: 2%;
    }

   
}


@media (max-width: 600px) {

    body header h1 {
        width: 90%;
        z-index: 100;
    }

    body header .bici {
        bottom: -60px;
        right: -50px;
    }

    body header .hipster {
        left: -50px;
        bottom: -60px;
    }

    body header .city {
        left: -6%;
    }

      
}

@media (max-width: 500px) {

    body header h1 {
        width: 90%;
        z-index: 100;
        right: 5%;
        text-align: right;
        line-height: 50px;
        font-size: 74px !important;
    }

    body header .bici {
        display: none;
    }

    body header .hipster {
        left: -50px;
        bottom: -60px;
    }

    body header .social {
        top: auto;
        bottom: 40px;
    }

    .social {
        top:10px;
    }

    .social a img {
        width: 40px !important;
    }

}

@media (max-width: 443px) {

    header h1 {
        top: 50%;
    }

}

@media (max-width: 350px) {

    body header h1 {
        font-size: 74px !important;
        line-height: 50px;
    }

    body header .bici {
        display: none;
    }

    body header .hipster {
        left: -80px;
    }

    .social a img {
        width: 30px !important;
    }
}

.texto_formulario {
    font-family: grinchedregular;
    font-size: 20px;
    color: #00c2ff;
}

.titulo_formulario {
    font-family: grinchedregular;
    font-size: 30px;
    color: #dc007c;
}

.social {
    /*bottom: -3px !important;*/
    position: absolute;
    right: 10px !important;
    top: 14px !important;
}

    .social a {
        font-family: grinchedregular;
        font-size: 20px;
        text-decoration: none;
    }

.modal-footer input, button {
    font-family: grinchedregular;
    font-size: 20px;
}

.letter_contact {
    font-family: Verdana;
}
.divEvento {
    background: transparent url('../Images/categories/eventos_inicio.png') no-repeat 0 0;
    width: 445px;
    height: 638px;
}

.divLista {
    padding-top: 120px;
    padding-left: 10px;
}

.ulEstilo {
    width: 355px;
    height: 410px;
    overflow: auto;
    list-style: none;
    color: #512d0b;
    font-size: 15px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
}

.ulEstilo > li {
        padding-bottom: 25px;
        padding-left: 65px;
        padding-right: 10px;
        background-size: 50px;
        background-repeat: no-repeat;
}

.ulEstilo a {
    text-decoration:none; 
    color:#512d0b;
}

.ulEstilo #titulo-evento {
    font-weight: bold; 
    font-size: 18px;    
}

.ulEstilo #texto-evento {
    font-weight: normal;    
}

.imgItem {
    width: 234px;
    height: 250px;
}

.item2 {
    width: auto !important;
    height: auto !important;
}
