
.white{
	color: #fff;
}
.black{
	color: #000;
}

.header-categories{
	position: relative;
	height: 500px;
	background: transparent url('../img/turquesa.jpg') repeat 0 0;
	overflow:  hidden;
}
.header-categories h1{
	margin: 0;
	padding: 0;
	position: absolute;
	line-height: 130px;
	top: 37%;
	margin-top: -65px;
	right: 16%;
}
.header-categories .social{
	bottom: auto;
	top: 20px;
	right: 20px;
}
.header-categories .hipster{
	background: transparent url('../img/categories/icon_hipster.png') no-repeat 0 0;
	position: absolute;
	bottom: 0px;
	left: 10%;
	width: 233px;
	height: 450px;
}
.header-categories .bici{
	background: transparent url('../img/categories/icon_bici.png') no-repeat 0 0;
	position: absolute;
	bottom: 0px;
	right: 22%;
	width: 600px;
	height: 291px;
}

.header-categories .city{
	background: transparent url('../img/categories/icon_city.png') no-repeat 0 0;
	position: absolute;
	top: 0px;
	left: 22%;
	width: 250px;
	height: 78px;
	color: #fff;
	line-height: 78px;
	font-size: 50px;
	text-align: center;
	font-family: 'grinchedregular';
}

.header-categories .city b{
	font-weight: normal;
}

.header-categories .city .yellow{
	color: #ffff00;
}

.header-categories .line{
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	height: 37px;
	background: transparent url('../img/categories/line_yellow.png') repeat 0 0;
}



.categories{
	text-align: center;
}
.categories figure{
	display: inline-block;
	position: relative;
}
.categories figure figcaption{
	color: #000;
	font-size: 50px;
	line-height: 30px;
	font-family: 'christopherhandregular';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.categories #cat_restaurantes figcaption{
	bottom: 35px;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);
}

.categories #cat_diversion figcaption{
	bottom: 41px;
	left: 34px;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.categories #cat_turismo figcaption{
	bottom: 34px;
	left: 34px;
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	transform: rotate(-7deg);
}

.categories #cat_cultura figcaption{
	bottom: 39px;
	left: 34px;
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	transform: rotate(-7deg);
}

.categories #cat_hospedaje figcaption{
	bottom: 33px;
	left: 0px;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}


.categories #cat_promociones figcaption{
	bottom: 43px;
	left: 34px;
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	transform: rotate(-6deg);
}



@media (max-width: 1220px) {

  body .header-categories h1{
  	font-size: 100px;
  	right: 5%;
  }

  body .header-categories .bici{
  	right: 15%;
  }

}



@media (max-width: 1000px) {

  body .header-categories h1{
  	font-size: 90px;
  	right: 2%;
  }

  body .header-categories .bici{
  	right: 2%;
  }

  body .header-categories .hipster{
  	left: 2%;
  }

}


@media (max-width: 800px) {

  body .header-categories h1{
  	width: 70%;
  	line-height: 90px;
  }

  body .header-categories .bici{
  	bottom: -60px;
  	right: -20px;
  }

  body .header-categories .hipster{
  	left: 2%;
  }

}





@media (max-width: 600px) {

  body .header-categories h1{
  	width: 90%;
  	z-index: 100;
  }

  body .header-categories .bici{
  	bottom: -60px;
  	right: -50px;
  }

  body .header-categories .hipster{
  	left: -50px;
  	bottom: -60px;
  }

  body .header-categories .city{
  	left: 2%;
  }

}


@media (max-width: 500px) {

  body .header-categories h1{
  	width: 90%;
  	z-index: 100;
  	right: 5%;
  	text-align: right;
  }

  body .header-categories .bici{
  	display: none;
  }

  body .header-categories .hipster{
  	left: -50px;
  	bottom: -60px;
  }

  body .header-categories .social{
  	top: auto;
  	bottom: 20px;
  }

}


@media (max-width: 350px) {

  body .header-categories h1{
  	font-size: 80px;
  	line-height: 80px;
  }

  body .header-categories .bici{
  	display: none;
  }

  body .header-categories .hipster{
  	left: -80px;
  }

}