body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: transparent url('../Images/turquesa.jpg') repeat 0 0 !important;
}

header {
    overflow: hidden;
}

    header h1 {
        margin: 0;
        padding: 0;
        position: absolute;
        line-height: 60px;
        top: 37%;
        margin-top: -65px;
        right: 0%;
        z-index:10;
    }



h1 span {
    margin: 0;
    text-align: center;
    padding: 0px 20px 0px 20px;
    color: #ffff00;
    font-family: 'Calibri' !important;
    font-size: 54px !important;
    font-weight: normal;
    -webkit-text-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 0 10px rgba(0,0,0,0.5);
    -ms-text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
        display: block;
}

header h1 span a {
    text-decoration:none;
     color: #dc007c;
}

header .social {
    bottom: auto;
    top: 20px;
    right: 20px;
}

header .hipster {
    background: transparent url('../Images/categories/hipster_1.png') no-repeat 0 0;
    position: absolute;
    bottom: 0px;
    left: 10%;
    width: 233px;
    height: 320px;
}

header .bici {
    background: transparent url('../Images/categories/bici_1.png') no-repeat 0 0;
    position: absolute;
    bottom: 0px;
    right: 32%;
    width: 442px;
    height: 205px;
}

.social a img {
    width: 50px !important;
}


header .city {
    background: transparent url('../Images/categories/city_1.png') no-repeat 0 0;
    position: absolute;
    top: -17px;
    left: 20%;
    width: 193px;
    height: 57px;
    color: #fff;
    line-height: 58px;
    font-size: 40px;
    text-align: center;
    font-family: 'grinchedregular';
}

    header .city b {
        font-weight: normal;
    }

    header .city .yellow {
        color: #ffff00;
    }

header .line {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 37px;
    background: transparent url('../Images/categories/line_yellow.png') repeat 0 0;
}

.line_footer {
    position: relative;
    left: 0;
    width: 100%;
    height: 37px;
    background: transparent url('../Images/categories/line_yellow.png') repeat 0 0;
}


#seccionCategorias {
    display:inline-block !important;
}

@media (max-width: 1200px) {

    #seccionEventos {
        width: 41% !important;
    }

    #seccionCategorias {
        width: 50% !important;
    }

}

@media (max-width: 1100px) {

   #seccionEventos {
        width: 46% !important;
    }

    #seccionCategorias {
        width: 50%;
    }

}

@media (max-width: 1043px) {

    #seccionCategorias figure {
        display: inline !important;
    }
}

@media (max-width: 1011px) {

    /*#seccionEventos {
        width: 100% !important;
        padding-left: 50% !important;
        float:left !important;
    }

 

    #seccionCategorias figure {
        display:inline !important;
    }*/

    #seccionCategorias {
        /*padding-left: 10% !important;*/
        
    }

    .imgItem {
        width:200px !important;
        height:auto !important;
    }

}


@media (max-width: 1000px) {

    body header h1 {
        font-size: 90px;
        right: 2%;
    }

    body header .bici {
        right: 15%;
    }

    body header .hipster {
        left: 2%;
    }
}

@media (max-width: 978px) {

    #seccionEventos {
        width:49% !important;
    }
}

@media (max-width: 880px) {

     #seccionEventos {
        width:54% !important;
    }

    #seccionCategorias {
        width:42% !important;
    }

      .imgItem {
        width:159px !important;
        height:auto !important;
    }

    #content {
        padding-bottom:190px !important;
    }

}


@media (max-width: 840px) {

   .imgItem {
        width: 30% !important;
        height: auto;
   }

    #seccionCategorias {
        display:block;
        width:100% !important;
    }

    #seccionEventos {
        width:100% !important;
        padding: 20px 0  0 20px !important;
     
    }

     #content {
        padding-bottom:800px !important;
    }
   
}


@media (max-width: 800px) {

    body header h1 {
        width: 80%;
    }

    body header .hipster {
        left: 2%;
    }

   
}


@media (max-width: 600px) {

    body header h1 {
        z-index: 100;
       
    }

    body header .bici {
        bottom: -60px;
        right: -50px;
    }

    body header .hipster {
        left: -50px;
        bottom: -60px;
    }

    body header .city {
        left: 2%;
    }
    h1 span {
        font-size: 44px !important;
    }



      
}

@media (max-width: 500px) {

    body header h1 {
        width: 90%;
        z-index: 100;
        right: 5%;
        text-align: right;
        top: 27%;
   }

    body header .bici {
        display: none;
    }

    body header .hipster {
        left: -50px;
        bottom: -60px;
    }

      h1 span {
        font-size: 34px !important;
    }

}

@media (max-width: 443px) {

    header h1 {
        top: 50%;
    }

}

@media (max-width: 350px) {

    body header .hipster {
        left: -80px;
    }

}

