/* http://www.fontsquirrel.com/tools/webfont-generator */

/*@font-face {
    font-family: 'christopherhandregular';
    src: url('fonts/comesinhandy-webfont.eot');
    src: url('fonts/comesinhandy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/comesinhandy-webfont.woff') format('woff'),
         url('fonts/comesinhandy-webfont.ttf') format('truetype'),
         url('fonts/comesinhandy-webfont.svg#christopherhandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

/*@font-face {
    font-family: 'grinchedregular';
    src: url('fonts/font/grinchedregular-webfont.eot');
    src: url('fonts/grinchedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/grinchedregular-webfont.woff') format('woff'),
         url('fonts/grinchedregular-webfont.ttf') format('truetype'),
         url('fonts/grinchedregular-webfont.svg#grinchedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

/*@font-face {
    font-family: 'kenan__kelregular';
    src: url('fonts/kenan__kel-webfont.eot');
    src: url('fonts/kenan__kel-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kenan__kel-webfont.woff') format('woff'),
         url('fonts/kenan__kel-webfont.ttf') format('truetype'),
         url('fonts/kenan__kel-webfont.svg#kenan__kelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

/* http://www.fontsquirrel.com/tools/webfont-generator */

@font-face {
    font-family: 'christopherhandregular';
    src: url('/Content/fonts/comesinhandy-webfont.eot');
    src: url('/Content/fonts/comesinhandy-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/comesinhandy-webfont.woff') format('woff'),
         url('/Content/fonts/comesinhandy-webfont.ttf') format('truetype'),
         url('/Content/fonts/comesinhandy-webfont.svg#christopherhandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'grinchedregular';
    src: url('/Content/fonts/grinchedregular-webfont.eot');
    src: url('/Content/fonts/grinchedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/grinchedregular-webfont.woff') format('woff'),
         url('/Content/fonts/grinchedregular-webfont.ttf') format('truetype'),
         url('/Content/fonts/grinchedregular-webfont.svg#grinchedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kenan__kelregular';
    src: url('/Content/fonts/kenan__kel-webfont.eot');
    src: url('/Content/fonts/kenan__kel-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/kenan__kel-webfont.woff') format('woff'),
         url('/Content/fonts/kenan__kel-webfont.ttf') format('truetype'),
         url('/Content/fonts/kenan__kel-webfont.svg#kenan__kelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




