/*bootstrap overide*/
body {
    color: black;
    height: 100%;
    background: transparent url('../Images/fondo_claro.png') repeat 0 0 !important; 
}

body, html{
	height: 100%;
}
.container{
	max-width: 1024px;
	margin: 0 auto;
	padding: 20px 0;
}

.white{
	color: #fff;
}
.black{
	color: #000;
}
.pink{
	color: #B4045F
}

.CargandoModalBackground_internas {
        overflow: hidden;
        background-color: transparent;
        filter: alpha(opacity=80);
        opacity: 0.8;
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;
        display: none;
        z-index: 1;
        width: 800px;
        position: absolute;
        left: 50%;
        top: 80%;
        margin-left: -400px;
    }

label {
   
    font-size: 15px;
    font-weight:bold;
}

input, textarea, .uneditable-input {
    width: 300px;
}

.editor-label {
        font-size: 15px;
    font-weight:bold;
}

.alert {
    width:24%;
}

.galeria {
    text-align:center;
    font-size:18px;               
}

.table {
    background-color: rgba(6, 172, 198, 0.7);
}

.btn-primary {
    font-family: Calibri;
    font-size: 18px;
}

a:hover, a:focus {
    text-decoration:none;
}

/*end bootstrap overide*/

/*field validation errors*/

.field-validation-error {
     color: black;
    font-weight:bold;
 }

.display-field {
    font-weight:bold;
}

.validation-summary-errors {
    font-weight:bold;

}

/*end field validation*/

#categoria_id {
    width:310px;
}

.header-form{
	position: relative;
	height: 270px;
	background: transparent url('/Images/turquesa.jpg') repeat 0 0;
	overflow:  hidden;
}
.header-form h1{
	margin: 0;
	padding: 0;
	position: absolute;
	line-height: 130px;
	font-size: 130px;
	left: 22%;
	bottom: 26%;
	z-index: 10;
}
.header-form h1 .pink{
	margin: 0 -20px;
}
.header-form .pencil{
	position: absolute;
	right: 15%;
	bottom: 23%;
	z-index: 0;
}
.header-form .pencil img{
	max-width: 100%;
	max-height: 100%;
}
.header-form .line{
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	height: 37px;
	background: transparent url('/Images/categories/line_yellow.png') repeat 0 0;
}

.content-form{
	padding-top: 100px;
	padding-bottom: 100px;
}
.content-form .book{
	width: 711px;
	height: 439px;
	margin: 0 auto;
	background: transparent url('/Images/form/book.png') repeat 0 0;
	position: relative;
}

.content-form .page{
	display: none; 
	position: absolute;
	top: 55px;
	left: 32px;
	right: 34px;
	bottom: 20px;
	overflow: hidden;
}
.content-form .page.active{
	display: block;
}
.content-form .page .left{
	width: 42%;
	float: left;
	height: 100%;
}
.content-form .page .right{
	width: 42%;
	height: 100%;
	float: right;
}

.content-form form .input{
	margin-bottom: 10px;
}
.content-form form .img-profile{
	width: 80px;
	height: 80px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #512d0b;
}
.content-form form label{
	display: block;
	color: #512d0b;
	font-size: 18px;
	line-height: 25px;
	font-family: Helvetica,Arial;
}

.content-form form input,
.content-form form textarea{
	width: 100%;
	display: block;
	border: 1px solid #512d0b;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;

	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Firefox */
	-ms-box-sizing:border-box; /* Firefox */
	box-sizing:border-box;
}
.content-form form textarea{
	height: 200px;
}

.content-form form .right{
	text-align: right;
}

.content-form form .send{
	border: 1px solid #512d0b;
	color: #512d0b;
	font-family: Helvetica, Arial;
	padding: 8px 12px;
	font-size: 18px;
	line-height: 18px;
	margin-top: 10px;
	background: #fff;
}

@media (max-width: 620px) {
  	body .header-form h1{
  		left: 10px;
		right: 10px;	
  	}

}

@media (max-width: 520px) {
  	body .header-form h1{
  		font-size: 100px;
  	}

}

@media (max-width: 420px) {
  	body .header-form h1{
  		font-size: 80px;
  	}

}

/*footer fijado en el pie, se debe tener la estructura correcta wrapper, content, footer
 http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/
*/

#footer {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: Calibri;
    font-size: 20px;
    background: transparent url('../Images/turquesa.jpg') repeat 0 0;
}
#wrapper {
	min-height:100%;
	position:relative;
}

#content {
	padding:10px;
	padding: 100px 120px;
   /* Height of the footer element */
}

#footer span {
    bottom: 28px !important;
    position: absolute;
    left: 10px !important;
}
/*fin footer*/

.lead {
    font-family: Calibri;
    font-size:35px;
    font-weight:bold;
}

/*div inicio*/
 .inicio {
    font-family: 'grinchedregular';
    font-size: 25px;
    font-weight: normal;
    padding-top: 80px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    line-height: 90px;
    margin: -65px 0 0;
    padding: 0;
    position: absolute;
    right: 2%;
    top: 17%;
  
}   

 nav.profile{
	margin-top: -18px;
	margin-bottom: -80px;
}

nav.profile>div{
	position: relative;
	overflow: hidden;
	text-align: center;
    height:95px;
}

nav.profile>div a{
	position: relative;
	display: inline-block;
	margin: 0 2%;
	text-align: center;
	width: 223px;
	height: 86px;
	background: transparent url('../Images/profile/item-menu.png') no-repeat 0 0;
}


nav.profile>div a label{
	display: block;
	color: #fff;
	font-size: 25px;
	line-height: 45px;
	font-family: Arial;
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 0;
	text-align: center;
	cursor: pointer;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.validation-summary-errors {
    color:red;
}


