body, html{
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	background: transparent url('../Images/sprite.png') repeat 0 0; 
}

.container{
	max-width: 1024px;
	margin: 0 auto;
	padding: -1px 0px 130px;
}

.containerPerfil{
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 130px;
}

.white{
	color: #fff;
}
.black{
	color: #000;
}
.pink{
	color: #B4045F
}

.CargandoModalBackground_internas {
        overflow: hidden;
        background-color: transparent;
        filter: alpha(opacity=80);
        opacity: 0.8;
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;
        display: none;
        z-index: 1;
        width: 800px;
        position: absolute;
        left: 50%;
        top: 60%;
        margin-left: -400px;
    }

/*footer fijado en el pie, se debe tener la estructura correcta wrapper, content, footer
 http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/
*/

#footer {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: Calibri;
    font-size: 20px;
    background: transparent url('../Images/turquesa.jpg') repeat 0 0;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding: 10px;
    padding-bottom: 80px; /* Height of the footer element */
}

#footer {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0% !important;
    left: 0;
    background: transparent url('../Images/turquesa.jpg') repeat 0 0;
    border-top: 2px solid #ff0;
}

    #footer span {
        bottom: 20px !important;
        position: absolute;
        left: 10px !important;
    }

@media (max-width: 800px) {

      #footer span {
        font-size: 18px;
    }

}


@media (max-width: 600px) {

    #footer span {
        font-size: 14px;
    }

}


@media (max-width: 500px) {

    #footer span {
        font-size: 12px;
    }
}


@media (max-width: 350px) {

    #footer span {
        font-size: 20px;
    }
}
