

body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: transparent url('/Images/sprite.png') repeat 0 0;
}

.yellow {
    color: #ffff00;
}

.blue {
    color: #00c2ff;
}

.pink {
    color: #dc007c;
}

.black {
    /*color: #262626;*/
    color: #00c2ff;
}

h1 {
    margin: 0;
    text-align: center;
    padding-top: 80px;
    font-family: 'grinchedregular';
    font-size: 120px;
    font-weight: normal;
    -webkit-text-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 0 10px rgba(0,0,0,0.5);
    -ms-text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tildes {
    margin: 0;
    text-align: center;
    padding-top: 80px;
    font-family: 'kenan__kelregular';
    font-size: 120px;
    font-weight: bold;
    -webkit-text-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 0 10px rgba(0,0,0,0.5);
    -ms-text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

    h1 label {
        display: block;
    }

.cntSeparator {
    font-size: 54px;
    margin: 10px 7px;
    color: transparent;
    width: 3px;
}

#content_counter {
    text-align: center;
    margin-top: 50px;
    zoom: 1;
}

    #content_counter > div {
        display: inline-block;
        padding: 15px;
        background: #666;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
    }

.social {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

    .social a {
        display: inline-block;
        text-decoration: none;
        margin: 0 5px;
    }

        .social a img {
            width: 50px;
        }



#social {
    bottom: 20px;
    position: absolute;
    right: 20px;
}

    #social a {
        display: inline-block;
        margin: 0 5px;
        text-decoration: none;
    }

        #social a img {
            width: 50px;
        }


.contacto {
    width: 200px;
}

.rotate {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;
}

    .rotate:hover {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }

.rotate_index {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;
}

    .rotate_index:hover {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }


@media (max-width: 800px) {

    body h1 {
        font-size: 100px;
    }

    .texto_contactenos {
        bottom: 35% !important;
    }

    .tildes {
        font-size: 100px;
    }

}

@media (max-width: 680px) {
    body h1 {
        font-size: 80px;
    }

    .texto_contactenos {
        bottom: 30% !important;
    }
     .tildes {
        font-size: 80px;
    }

}

@media (max-width: 560px) {
    body h1 {
        font-size: 70px;
    }

    body #content_counter {
        zoom: 0.7;
        margin-top: 40px;
    }

        body #content_counter > div {
            -moz-transform: scale(0.5);
        }

    .texto_contactenos {
        bottom: 24% !important;
    }

     .tildes {
        font-size: 70px;
    }
}

@media (max-width: 443px) {
    body h1 {
        font-size: 65px;
    }

    body #content_counter {
        zoom: 0.5;
        margin: 20px;
    }

    .texto_contactenos {
        bottom: 22% !important;
    }

    .tildes {
        font-size: 65px;
    }
}

.texto_formulario {
    font-family: Calibri;
    font-size: 20px;
    color: #018FA3;
    font-weight:bold;
}

.titulo_formulario {
    font-family: Calibri;
    font-size: 27px;
    color: #3A180C;
}


.modal-footer input, button {
    font-family: Calibri;
    font-size: 20px;
    font-weight:bold;
}

.texto_contactenos {
    position: relative;
    bottom: 40%;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}

.error {
    font-family: Calibri;
}

.hipster-inicio {
    
    line-height: 90px;
    padding: 0;
    position: absolute;
    margin-top: 5px;
    right:80% !important;
    z-index: 100000;
}
