
#content {
    padding-bottom:10px !important;
}

body .container {
    /*max-width: 850px;*/
    height: 100% !important;
}

body { 
	margin:0;
	padding:0;
	overflow-x: hidden !important; 
}

#containingDiv {
	width:960px;
    margin:37px auto;	
}
#bottomText {
	width:100%; 
    font:18px 'Lato', sans-serif; 
    color:#333333; 
    border-top:1px solid #cccccc; 
    padding:10px 0 0 0; 
    margin-top:100px; 
    text-align:center;
}

.header-profile {
    position: relative;
    height: 300px;
    background: transparent url('../Images/turquesa.jpg') repeat 0 0;
    overflow: hidden;
}

    .header-profile .header-icon {
        position: absolute;
        z-index: 0;
        right: 0;
        bottom: 8%;
        width: 400px;
        margin-right: 1%;
    }

        .header-profile .header-icon img {
            height: 100%;
            width: 100%;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
            -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
            -ms-box-shadow: 0 0 10px rgba(0,0,0,0.5);
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }

    .header-profile .social {
        bottom: auto;
        bottom: 30px;
        left: 30px;
    }


nav.profile {
    margin-top: -30px;
    margin-bottom: -80px;
}

    nav.profile > div {
        position: relative;
        overflow: hidden;
        text-align: center;
    }

        nav.profile > div.tabla_perfil a {
            position: relative;
            display: inline-block;
            margin: 0 2%;
            text-align: center;
            width: 223px;
            height: 85px;
            background: transparent url('../Images/profile/item-menu.png') no-repeat 0 0;
        }

            nav.profile > div a label {
                display: block;
                color: #fff;
                font-size: 25px;
                line-height: 43px;
                font-family: Arial;
                position: absolute;
                bottom: 0;
                left: 10px;
                right: 0;
                text-align: center;
                cursor: pointer;
                -webkit-transform: rotate(-3deg);
                -moz-transform: rotate(-3deg);
                -ms-transform: rotate(-3deg);
                -o-transform: rotate(-3deg);
                transform: rotate(-3deg);
            }



.content-profile {
    /*margin-top: 20px;*/
    max-width: 1118px;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 57px;
    z-index: 1;
}

    .content-profile .align-right {
        text-align: right;
    }

        .content-profile .align-right .stars {
            display: inline-block;
        }

        .content-profile .align-right .star {
            width: 31px;
            height: 26px;
            background: transparent url('../Images/Estrella1.png') repeat 0 0;
            display: inline-block;
        }

            .content-profile .align-right .star > img {
                width: 120%;
                height: 120%;
            }

            .content-profile .align-right .star.fill {
                background: transparent url('../Images/Estrella1Fill.png') repeat 0 0;
            }

    .content-profile .header-image {
        width: 100%;
        height: 300px;
        margin-top: 20px;
    }

.content-contact {
    overflow: hidden;
}

    .content-contact > .left {
        width: 50%;
        float: left;
    }

    .content-contact > .right {
        width: 50%;
        float: right;
    }

    .content-contact > .left .book {
        width: 520px;
        height: 688px;
        position: relative;
        background: transparent url('../Images/profile/eventos_perfil.png') no-repeat 0 0;
    }

        .content-contact > .left .book textarea {
            position: absolute;
            top: 90px;
            left: 91px;
            width: 205px;
            bottom: 20px;
            background: transparent;
            border: 1px solid #ccc;
        }

        .content-contact > .left .book ul {
            position: absolute;
            top: 110px;
            left: 110px;
            width: 350px;
            height: 520px;
            bottom: 20px;
            background: transparent;
            margin: 0;
            padding: 0px;
            list-style: none outside none;
            overflow: auto;
            color: #512d0b;
            font-size: 15px;
            font-weight: bold;
            font-family: Helvetica, Arial, sans-serif;
            text-align: justify;
            padding-right: 10px;
        }

    .content-contact > .right ul {
        position: absolute;
        top: 110px;
        left: 112px;
        width: 460px;
        height: 326px;
        bottom: 20px;
        background: transparent;
        margin: 0;
        padding: 0px;
        list-style: none outside none;
        overflow: auto;
        color: #512d0b;
        font-size: 15px;
        font-weight: bold;
        font-family: Helvetica, Arial, sans-serif;
        text-align: justify;
        padding-right: 10px;
    }

    .content-contact > .left .book li {
        padding-left: 20px;
        background-image: url(/Images/profile/bullet_eventos.png);
        background-repeat: no-repeat;
        background-position: 0 .1em;
    }

    .content-contact > .right li {
        padding-left: 20px;
        background-image: url(/Images/profile/bullet_eventos.png);
        background-repeat: no-repeat;
        background-position: 0 .1em;
    }

    .content-contact .right form {
        text-align: right;
    }

    /*Validate*/
    .content-contact .right .form-info .error {
        margin-left: 53%;
    }

    .content-contact .right .form-comment .error {
        margin-top: 47%;
        margin-left: 23%;
    }

    .content-contact .right form > div {
        margin-bottom: 20px;
    }

    .content-contact .form-comment {
        display: inline-block;
        text-align: left;
        width: 600px;
        height: 565px;
        position: relative;
        background: transparent url('../Images/profile/comentarios_perfil.png') no-repeat 0 0;
    }

    .content-contact .form-info {
        display: inline-block;
        text-align: left;
        width: 262px;
        height: 54px;
        position: relative;
        background: transparent url('../Images/profile/form-info.png') no-repeat 0 0;
    }

        .content-contact .form-info input {
            position: absolute;
            background: transparent;
            border: 0;
            padding: 0;
            width: 215px;
            left: 32px;
            border-bottom: 1px solid #aaa;
        }

            .content-contact .form-info input[name="email"] {
                top: 28px;
            }

            .content-contact .form-info input[name="name"] {
                top: 3px;
            }


    .content-contact .form-comment textarea {
        position: absolute;
        top: 75px;
        left: 65px;
        width: 199px;
        bottom: 31px;
        background: transparent;
        border: 1px solid #ccc;
    }

    .content-contact .form-comment button {
        background: #512d0b;
        border: 1px solid #512d0b;
        color: #fff;
        position: absolute;
        bottom: 60px;
        right: 50px;
        padding: 15px;
        line-height: 0;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
    }

    .content-contact .form-comment input {
        background: #512d0b;
        border: 1px solid #512d0b;
        color: #fff;
        position: absolute;
        bottom: 3px;
        right: 12px;
        padding: 10px;
        line-height: 0;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
    }

    .content-contact .form-comment .comment-title {
        position: absolute;
        top: 60px;
        right: 0;
        display: block;
        color: #512d0b;
        text-align: right;
        padding-right: 220px;
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .content-contact .book .comment-title {
        position: absolute;
        top: 60px;
        right: 0;
        display: block;
        color: #512d0b;
        text-align: right;
        padding-right: 125px;
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .content-contact .book .ul-title {
        position: absolute;
        top: 70px;
        right: 0;
        display: block;
        color: #512d0b;
        text-align: right;
        padding-right: 45px;
        font-size: 23px;
        font-weight: bold;
        line-height: 30px;
        font-family: Helvetica, Arial, sans-serif;
    }

@media (max-width: 1190px) {

    .content-contact .form-comment {
        width:600px;
        height:460px;
        background: transparent url('../Images/profile/comentarios_perfil4.png') no-repeat 0 0;
    }

    .content-contact > .right ul {
        left:75px;
        height:230px;
        width:385px;
    }

    .content-contact .form-comment button {
        right:160px;
    }
}

@media (max-width: 1025px) {
    .left {
        width: 40%;
    }

    .content-contact > .left .book {
        width:440px;
        height:630px;
        background: transparent url('../Images/profile/eventos_perfil2.png') no-repeat 0 0;
    }
    
    .content-contact > .left .book ul {
        width:310px;
        left:80px;
    }

    .content-contact .form-comment {
        width:440px;
        height:415px;
        background: transparent url('../Images/profile/comentarios_perfil2.png') no-repeat 0 0;
    }

    .content-contact > .right ul {
        width:345px;
        left:65px;
        top:89px;
        height:215px;
    }

    .content-contact .book .comment-title {
        font-size: 25px;
        padding-right:100px;
    }

    .content-contact .form-comment .comment-title {
        font-size:20px;
        padding-right:155px;
    }

    .content-contact .form-comment button {
        right:50px;
    }
}

@media (max-width: 890px) {
    .left {
        width: 30%;
    }

    .content-contact > .left .book {
        width:380px;
        height:495px;
        background: transparent url('../Images/profile/eventos_perfil1.png') no-repeat 0 0;
    }
    
    .content-contact > .left .book ul {
        width:250px;
        left:63px;
        height:328px;
        top:85px;
    }

    .content-contact .form-comment {
        width:340px;
        height:340px;
        background: transparent url('../Images/profile/comentarios_perfil1.png') no-repeat 0 0;
    }

    .content-contact > .right ul {
        width:275px;
        height:165px;
        left:50px;
        top:72px;
    }

    .content-contact .book .comment-title {
        font-size: 20px;
        padding-right:114px;
        top:40px;
    }

    .content-contact .form-comment .comment-title {
        font-size:20px;
        padding-right:107px;
    }

    .content-contact .form-comment button {
        right:30px;
    }
}

@media (max-width: 760px) {
    .content-contact > .left {
        width:100%;
    }

    .content-contact > .right {
        width:100%;
        float:left;
    }

     .content-contact > .left .book {
        width:440px;
    }
    
    .content-contact > .left .book ul {
        width:250px;
        left:63px;
        height:328px;
        top:85px;
    }

    .content-contact .form-comment {
        width:440px;
        background: transparent url('../Images/profile/comentarios_perfil1.png') no-repeat 0 0;
    }

    .content-contact > .right ul {
        width:275px;
        height:165px;
        left:50px;
        top:72px;
    }

    .content-contact .book .comment-title {
        font-size: 20px;
        padding-right:172px;
        top:40px;
    }

    .content-contact .form-comment .comment-title {
        font-size:20px;
        padding-right:155px;
    }

    .content-contact .form-comment button {
        right:135px;
    }

    #containingDiv {
	    width:100%;
        margin:37px auto;
        padding:60px 0 0 0;	
    }	

    #bottomText {
	    width:100%;
        font:14px 'Lato', sans-serif; 
        color:#333333; 
        border-top:1px solid #cccccc; 
        padding:10px 0 0 0; 
        margin-top:50px; 
        text-align:center;
    }
}

@media (max-width: 745px) {
    .header-profile .header-icon img {
        width:70%;
    }   
}

@media (max-width: 620px) {
    body .content-contact .left,
    body .content-contact .right {
        float: none;
        width: auto;
    }

     .header-profile .header-icon img {
        float:right;
    }   
}

@media (max-width: 480px) {
    
     .content-contact > .left {
        width:100%;
    }

    .content-contact > .right {
        width:100%;
        float:left;
    }

     .content-contact > .left .book {
        width:400px;
    }
    
    .content-contact > .left .book ul {
        width:250px;
        left:63px;
        height:328px;
        top:85px;
    }

    .content-contact .form-comment {
        width:400px;
    }

    .content-contact > .right ul {
        width:275px;
        height:165px;
        left:50px;
        top:72px;
    }

    .content-contact .book .comment-title {
        font-size: 20px;
        padding-right:130px;
        top:40px;
    }

    .content-contact .form-comment .comment-title {
        font-size:16px;
        padding-right:155px;
    }

    .content-contact .form-comment button {
        right:95px;
    }
}



.rotate_profile:hover {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}

.inicio {
    font-family: 'grinchedregular';
    font-size: 35px;
    font-weight: normal;
    padding-top: 80px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    left: 2%;
    line-height: 90px;
    margin: -45px 0 0;
    padding: 0;
    position: absolute;
    top: 17%;
}

.header-profile > div a {
    text-decoration: none !important;
}

.texto_modal {
    color: #00C2FF;
    font-family: verdana;
    font-size: 15px;
}

.textoCalifica {
    float: right;
    padding-right: 9px;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
    text-decoration: none;
    height:19px;
}

#divTextoCalifica {
    z-index:100000;
    max-width: 1118px;
}

