﻿@model jardinMvc.Context.tbl_subcategoria

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutWm.cshtml";
}

@section css
{
    <style>
        #content {
            padding-top: 45px !important;
        }
    </style>
    
}

<p class="lead">
    <span class="pink">Crear</span>
    <span class="pink">Registro</span>
</p>

@using (Html.BeginForm("Create", "Subcategoria", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.Label("Categoría")
        </div>
        <div class="editor-field">
            @Html.DropDownList("categoria_id")
            @Html.ValidationMessageFor(model => model.categoria_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.subcategoria_nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.subcategoria_nombre)
            @Html.ValidationMessageFor(model => model.subcategoria_nombre)
        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Crear" />
            &nbsp;
            <input type="button" class="btn btn-primary" onclick="Regresar()" value="Regresar" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            $("#liSubcategorias").addClass("active");
        });

        function Regresar() {
            document.location = "../Subcategoria/Index"
        }

    </script>

}
