﻿@model jardinMvc.Context.tbl_subcategoria

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<fieldset>
    <legend>tbl_subcategoria</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.subcategoria_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.subcategoria_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.subcategoria_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.subcategoria_nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tbl_categoria.categoria_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbl_categoria.categoria_nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
