﻿@model jardinMvc.Context.tbl_subcategoria

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tbl_subcategoria</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.subcategoria_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.subcategoria_id)
            @Html.ValidationMessageFor(model => model.subcategoria_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.subcategoria_nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.subcategoria_nombre)
            @Html.ValidationMessageFor(model => model.subcategoria_nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.categoria_id, "tbl_categoria")
        </div>
        <div class="editor-field">
            @Html.DropDownList("categoria_id", String.Empty)
            @Html.ValidationMessageFor(model => model.categoria_id)
        </div>

        <p>
            <input type="submit" value="Actualizar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver al listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
