﻿@model IEnumerable<jardinMvc.Context.tbl_subcategoria>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWm.cshtml";
}

@section nav 
{
    <nav class="profile">
        <div>
            <a href="/Empresa" class="rotate_index">
                <label>Empresas</label>
            </a>
            <a href="/Subcategoria" class="rotate_index">
                <label>Subcategorías</label></a>
        </div>
    </nav>
}

<p class="lead">
    <span class="pink">Administrar</span>
    <span class="pink">Subcategorías</span>
</p>


<div class="block">
    <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">
            <br />
            <span>Categorías</span> &nbsp;&nbsp; @Html.DropDownList("idCategorias", new SelectList(jardinMvc.Controllers.SubcategoriaController.SelectCategorias(), "id", "nombre"))
        </div>
        <div class="pull-right">
            <span class="badge badge-info"></span>
        </div>
    </div>
    <div class="block-content collapse in">
        <table class="table table-striped" id="tblEstilo">
        </table>
        <p>
            <button type="button" class="btn btn-primary" onclick="Crear()">Crear</button>
        </p>
    </div>
</div>
@section Scripts {

    <script>

        $(document).ready(function () {
            $("#liSubcategorias").addClass("active");
        });

        function Crear() {
            document.location = "../Subcategoria/Create"
        }

        $("#idCategorias").ready(function () {

            var list = $('#idCategorias').val();
            var scntDiv = $("#tblEstilo");
            scntDiv.empty();
            $('<thead><tr><th>Nombre</th><th>Acción</th></tr></thead>').appendTo(scntDiv);

            $.getJSON("/Subcategoria/listadoSubcategorias", { categoria_id: list }, function (result) {
                $('<tbody>').appendTo(scntDiv);
                $.each(result, function (i, field) {
                    $('<tr><td>' + field.nombre + '</td><td><a href="/Subcategoria/Delete?id=' + field.identificador + '">Eliminar</a></td></tr>').appendTo(scntDiv);
                });
                $('</tbody>').appendTo(scntDiv);
            });
        });

        $("#idCategorias").change(function () {

            var list = $('#idCategorias').val();
            var scntDiv = $("#tblEstilo");
            scntDiv.empty();
            $('<thead><tr><th>Nombre</th><th>Acción</th></tr></thead>').appendTo(scntDiv);

            $.getJSON("/Subcategoria/listadoSubcategorias", { categoria_id: list }, function (result) {
                $('<tbody>').appendTo(scntDiv);
                $.each(result, function (i, field) {
                    $('<tr><td>' + field.nombre + '</td><td><a href="/Subcategoria/Delete?id=' + field.identificador + '">Eliminar</a></td></tr>').appendTo(scntDiv);
                });
                $('</tbody>').appendTo(scntDiv);
            });
        });

    </script>
}
