﻿@model jardinMvc.Models.LoginModel

@{
    ViewBag.Title = "Iniciar Sesión";
}

@section css
{
    @Styles.Render("~/content/css_contacto")
    <link href="~/Content/signin.css" rel="stylesheet" />
    <style>
        .imgInline {
            display: inline !important;
        }

        .divImg {
            text-align: center;
            top: 50%;
        }

        .containerAdmin {
            padding-top: 60px !important;
        }

        .texto_formulario {
            color: #018fa3;
            font-family: Calibri;
            font-size: 20px;
            font-weight: bold;
        }

        .error {
            font-family: Calibri;
        }

        .alert {
            margin: 0 auto;
            max-width: 330px;
            padding: 15px;
        }
    </style>
}
<div class="container containerAdmin">
    <h1>
        <label>
            <a href="/" style="text-decoration:none;">
                <span class="blue">Que</span>
                <span class="pink">hacemos</span>
                <span class="blue">pues</span>
            </a>
        </label>
    </h1>

    @if (TempData["Message"] != null)
    {
        if (TempData["Message"].ToString().Equals("inexistente"))
        {
            <div id="alert" class="alert alert-warning">
                <strong>Usuario inexistente!</strong> inténtelo de nuevo.
            </div>
        }
        else if (TempData["Message"].ToString().Equals("email_enviado"))
        {
            <div id="alert" class="alert alert-success">
                <strong>Se ha enviado un correo electrónico con información para restaurar su contraseña.</strong>
            </div>
        }
        else if (TempData["Message"].ToString().Equals("email_rest_invalido"))
        {
            <div id="alert" class="alert alert-danger">
                <strong>Ha ocurrido un error restaurando la contraseña.</strong> inténtelo de nuevo.
            </div>
        }
        else if (TempData["Message"].ToString().Equals("email_invalido"))
        {
            <div id="alert" class="alert alert-danger">
                <strong>Dirección de correo inválida.</strong> inténtelo de nuevo.
            </div>
        }
        else if (TempData["Message"].ToString().Equals("contrasena_cambiada"))
        {
            <div id="alert" class="alert alert-success">
                <strong>Una contraseña temporal ha sido enviada a su dirección de correo, por favor inicie sesión con la contraseña temporal.</strong> Una vez inicie sesión se le solicitará que cambie su contraseña.
            </div>
        }
        else if (TempData["Message"].ToString().Equals("inactivo"))
        {
            <div id="alert" class="alert alert-warning">
                <strong>Usuario inactivo.</strong> contactese con el adminsitrador o inténtelo de nuevo.
            </div>
        }

    }

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin", id = "form-signin" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div id="logUsuario">
            <div class="control-group">
                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Usuario", id = "UserName" })
                </div>
            </div>
            <br />
            <div class="control-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control passLogin", placeholder = "Contraseña", id = "Password" })
                </div>
            </div>
            <a data-toggle="modal" href="#resComen" id="btnRestaurar">Olvidó su contraseña?</a>
            <br />
            <br />
            <div style="text-align: center;">
                <button class="btn btn-primary" type="submit" onclick="removerAlerta()">Iniciar Sesión</button>
            </div>
            @*<label class="checkbox-inline">
                    @Html.CheckBoxFor(m => m.RememberMe)Recordarme
                </label>*@
            <br />
        </div>
    }
</div>

<!-- Comentarios -->
<div id="resComen" class="modal fade" tabindex="-1" data-width="370" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title titulo_formulario">Restaurar Contraseña</h4>
    </div>
    @using (Html.BeginForm("Restablecer", "Restaurar", FormMethod.Post, new { id = "form-restaurar" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div>
                <div>
                    <p>
                        <label class="texto_formulario">Ingresa tu correo</label>
                        <input class="form-control letter_contact" id="inpCorreo" name="inpCorreo" type="text" />
                    </p>
                </div>
                <label id="enviaComent" class="texto_formulario" style="display: none">Enviando...</label>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" onclick="enviarComent()" value="Aceptar" />
            &nbsp;
            <input type="button" data-dismiss="modal" class="btn btn-primary" value="Cancelar" />
        </div>
    }
</div>



@*<div id="respRestaurar" class="modal fade" tabindex="-1" data-width="400" style="display:none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Aviso</h3>

        </div>
        @using (Html.BeginForm("Restablecer", "Restaurar", FormMethod.Post, new { id = "form-restaurar" }))
        {
            @Html.AntiForgeryToken()

            <div class="modal-body">
                <div class="row-fluid">
                    <div class="formularioAdministrarPerfil">
                        <p style="text-align:center;">
                            <label class="texto_formulario">Ingrese su correo</label>
                            <br />
                            <input type="text" id="inpCorreo" name="inpCorreo" />
                            <br />
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Aceptar" />
                    <input type="button" class="btn btn-success" data-dismiss="modal" value="Cancelar" />
                </div>
            </div>
        }
    </div>*@

@*<div id="loading" class="CargandoModalBackground_login">
        <img src="@Url.Content("~/Content/ajax-loader.gif")" alt="Enviando" />
        <br />
        <label style="color: black">
            Enviando...
        </label>
    </div>*@


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/content/js_restaurar")


    <script>
        $(document).ready(function () {
            $('#form-restaurar').validate({
                rules: {
                    inpCorreo: {
                        required: true,
                        email: true
                    }
                },
                highlight: function (element) {
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                },
                messages: {
                    inpCorreo: {
                        required: "Este campo es requerido",
                        email: "Por favor, ingrese una dirección de correo válida."
                    }
                }
            });
        });

        function removerAlerta() {
            $("#alert").remove();
        }
    </script>
}
