﻿@model jardinMvc.Models.LocalPasswordModel
@{
    ViewBag.Title = "Administrar Cuenta";
    var empresa = Session["Empresa"];
    var role = System.Web.Security.Roles.GetRolesForUser().Single();
    if (role.Equals("Empresa"))
    {
        Layout = "~/Views/Shared/_LayoutWmEmpresa.cshtml";
        @section css
            {
                <style>
                    #content {
                        padding-top: 45px !important;
                    }
                </style>
        }

        <p class="lead">
            <span class="pink">Administrar</span>
            <span class="pink">Cuenta</span>
        </p>
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutWm.cshtml";
        @section nav 
        {
            <nav class="profile">
                <div>
                    <a href="/Empresa" class="rotate_index">
                        <label>Empresas</label>
                    </a>
                    <a href="/Subcategoria" class="rotate_index">
                        <label>Subcategorías</label></a>
                </div>
            </nav>
        }
        <p class="lead">
            <span class="pink">Administrar</span>
            <span class="pink">Cuenta</span>
        </p>
    }
}
<p class="message-success">@ViewBag.StatusMessage</p>

<p class="editor-label">Ha iniciado sesión como: <span class="pink">@User.Identity.Name</span></p>
<br />
@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
