﻿@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutWm.cshtml";
}

<div class="page-header">
    <h3>Bienvenid@@ @Session["Nombre"] al panel administrativo del sitio, en el menú encontrará diversas opciones disponibles para realizar</h3>
</div>