﻿@model jardinMvc.Context.tbl_evento_empresa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutWmEmpresa.cshtml";
    var empresa = Session["Empresa"];
}

@section css
{
    <style>
        #content {
            padding-top: 45px !important;
        }
    </style>
    
}

<p class="lead">
    <span class="pink">Detalles</span>
    <span class="pink">Evento</span>
</p>

<fieldset>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.evento_nombre)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.evento_nombre)
    </div>
    <br />
    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.evento_descripcion)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.evento_descripcion)
    </div>
    <br />
    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.evento_fechaEvento)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.evento_fechaEvento)
    </div>
    <br />
    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.evento_fechaInicio)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.evento_fechaInicio)
    </div>
    <br />
    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.evento_fechaFin)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.evento_fechaFin)
    </div>

</fieldset>
<br />
<p>
    <input type="button" class="btn btn-primary" onclick="Regresar(@empresa)" value="Regresar" />
</p>
@section Scripts {

    <script>

        $(document).ready(function () {
            $("#liEvento").addClass("active");
        });

        function Regresar(empresa_id) {
            document.location = "../Index/" + empresa_id + ""
        }

    </script>
}
