﻿@model jardinMvc.Context.tbl_evento_empresa

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutWmEmpresa.cshtml";
    var empresa = Session["Empresa"];
}

@section css
{
    <style>
        #content {
            padding-top: 45px !important;
        }
    </style>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
}

<p class="lead">
    <span class="pink">Editar</span>
    <span class="pink">Evento</span>
</p>

<input type="hidden" value="@Request.Browser.Browser.ToLower()" id="browserVal" />

@using (Html.BeginForm("Edit", "EventoEmpresa", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.HiddenFor(model => model.evento_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.evento_nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.evento_nombre)
            @Html.ValidationMessageFor(model => model.evento_nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.evento_descripcion)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.evento_descripcion)
            @Html.ValidationMessageFor(model => model.evento_descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.evento_fechaEvento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.evento_fechaEvento)
            @Html.ValidationMessageFor(model => model.evento_fechaEvento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.evento_fechaInicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.evento_fechaInicio)
            @Html.ValidationMessageFor(model => model.evento_fechaInicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.evento_fechaFin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.evento_fechaFin)
            @Html.ValidationMessageFor(model => model.evento_fechaFin)
        </div>

        <div class="editor-label">
            @Html.HiddenFor(model => model.empresa_id)
        </div>
        <br />
        <p>
            <input type="submit" class="btn btn-primary" value="Actualizar" />
            &nbsp;
            <input type="button" class="btn btn-primary" onclick="Regresar(@empresa)" value="Regresar" />
        </p>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>

        $(document).ready(function () {
            $("#liEvento").addClass("active");

            //Chrome tiene su propia implementación del datepicker
            if ($("#browserVal").val() != "chrome") 
            {

                $.datepicker.regional['es'] = {
                    closeText: 'Cerrar',
                    prevText: '&#x3c;Ant',
                    nextText: 'Sig&#x3e;',
                    currentText: 'Hoy',
                    monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
                    'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
                    monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
                    'Jul','Ago','Sep','Oct','Nov','Dic'],
                    dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
                    dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
                    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''};
                $.datepicker.setDefaults($.datepicker.regional['es']);

                $("#evento_fechaEvento").datepicker({
                    dateFormat: "dd/mm/yy",
                    minDate: 0,
                });

                $("#evento_fechaInicio").datepicker({
                    dateFormat: "dd/mm/yy",
                    minDate: 0,
                    onSelect: function (date) {
                        var date2 = $('#evento_fechaInicio').datepicker('getDate');
                        date2.setDate(date2.getDate() + 1);
                        $('#evento_fechaFin').datepicker('setDate', date2);
                        //sets minDate to dt1 date + 1
                        $('#evento_fechaFin').datepicker('option', 'minDate', date2);
                    }
                });
                $('#evento_fechaFin').datepicker({
                    dateFormat: "dd/mm/yy",
                    onClose: function () {
                        var dt1 = $('#evento_fechaInicio').datepicker('getDate');
                        var dt2 = $('#evento_fechaFin').datepicker('getDate');
                        if (dt2 <= dt1) {
                            var minDate = $('#evento_fechaFin').datepicker('option', 'minDate');
                            $('#evento_fechaFin').datepicker('setDate', minDate);
                        }
                    }
                });
            }
        });

        function Regresar(empresa_id) {
            document.location = "../Index/" + empresa_id + ""
        }

    </script>

}
