﻿@model IEnumerable<jardinMvc.Context.tbl_evento_empresa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWmEmpresa.cshtml";
}

@section nav 
{
    <nav class="profile">
        <div>
            <a href="/Empresa/Edit/@Request.Url.Segments[3]" class="rotate_index">
                <label>Mi Empresa</label>
            </a>
            <a href="/EventoEmpresa/Index/@Request.Url.Segments[3]" class="rotate_index">
                <label>Mis Eventos</label></a>
        </div>
    </nav>
}

<p class="lead">
    <span class="pink">Administrar</span>
    <span class="pink">Eventos</span>
</p>

<div class="block">
    <div class="block-content collapse in">
        <table class="table table-striped" id="tblEstilo">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.evento_nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.evento_descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.evento_fechaEvento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.evento_fechaInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.evento_fechaFin)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.evento_nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.evento_descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.evento_fechaEvento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.evento_fechaInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.evento_fechaFin)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.evento_id }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.evento_id }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.evento_id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            <button type="button" class="btn btn-primary" onclick="Crear()">Crear</button>
        </p>
    </div>
</div>
@section Scripts {

    <script>

        $(document).ready(function () {
            $("#liEvento").addClass("active");
        });

        function Crear(empresa_id) {
            document.location = "../Create"
        }

    </script>
}
