﻿@model PagedList.IPagedList<jardinMvc.Context.tbl_empresa>
@{
    Layout = null;
    jardinMvc.Controllers.CategoriaController conCategoria = new jardinMvc.Controllers.CategoriaController();
    int calificacion = 0;
    int categoriaId = TempData["categoriaId"] != null ? int.Parse(TempData["categoriaId"].ToString()) : 0;
    string categoriaNombre = TempData["categoriaNombre"] != null ? TempData["categoriaNombre"].ToString() : String.Empty;
    int subcat = 0;
    if (TempData["subcatId"] != null && TempData["subcatId"] != "")
    {
        subcat = int.Parse(TempData["subcatId"].ToString());
    }
    else
    {
        subcat = 0;
    }
    var correo = TempData["correo"];
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @*<meta name=viewport content="width=device-width, initial-scale=1">*@
    <title>Categorías</title>
    @Styles.Render("~/content/css_empresas")
    @Styles.Render("~/content/css_contacto")
    <link href="~/Content/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script type="text/javascript">
           document.createElement("nav");
           document.createElement("header");
           document.createElement("footer");
           document.createElement("section");
           document.createElement("article");
           document.createElement("aside");
           document.createElement("hgroup");
        </script>
        <style type="text/css">
            header
            ,nav
            ,section
            ,article
            ,aside
            ,footer
            ,hgroup
            {
                display: block;
            }
        </style>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <header class="header-category" style="background: transparent url('/Images/turquesa.jpg') repeat 0 0;">
                @if (categoriaId == 1)
                {
                
                    <div class="inicio">
                        <a href="/Home/" title="Ir a inicio">
                            <img src="~/Images/logo_01.png" alt="Inicio" />
                        </a>
                    </div>
                    <h1>

                        <label>Re<b class="pink">s</b>taurantes</label></h1>
                    <div class="texto_contactenos">
                        <a data-toggle="modal" href="#responsive" onclick="limpiar()" class="social">
                            <img src="~/Images/contactenos.png" alt="Contáctenos" class="rotate_index contacto">
                        </a>
                    </div>
                    <div class="header-icon">
                        <img src="~/Images/category/@conCategoria.CategoriaImagen(categoriaId)" alt="Restaurantes">
                    </div>
                    <div class="social">
                        <div class="cuerda">
                            <a href="https://twitter.com/quehacemospues" target="_blank" class="tw rotate">
                                <img src="~/Images/icon_twitter.png" alt="Twitter"></a>
                            <a href="https://www.facebook.com/Quehacemospues" target="_blank" class="fb rotate">
                                <img src="~/Images/icon_facebook.png" alt="Facebook"></a>
                        </div>
                    </div>
                    <div class="line"></div>
              
                }
                else if (categoriaId == 2)
                {
                    <div class="inicio">
                        <a href="/Home/" title="Ir a inicio">
                            <img src="~/Images/logo_01.png" alt="Inicio" />
                        </a>
                    </div>
                    <h1>
                        <label>Ent<b class="blue">r</b>etenimiento</label>
                    </h1>
                    <div class="texto_contactenos">
                        <a data-toggle="modal" href="#responsive" onclick="limpiar()" class="social">
                            <img src="~/Images/contactenos.png" alt="Contáctenos" class="rotate_index contacto">
                        </a>
                    </div>
                    <div class="header-icon">
                        <img src="~/Images/category/@conCategoria.CategoriaImagen(categoriaId)" alt="Entretenimiento">
                    </div>
                    <div class="social">
                        <div class="cuerda">
                            <a href="https://twitter.com/quehacemospues" target="_blank" class="tw rotate">
                                <img src="~/Images/icon_twitter.png" alt="Twitter"></a>
                            <a href="https://www.facebook.com/Quehacemospues" target="_blank" class="fb rotate">
                                <img src="~/Images/icon_facebook.png" alt="Facebook"></a>
                        </div>
                    </div>
                    
                    <div class="line"></div>
                }
                else if (categoriaId == 3)
                {
                    <div class="inicio">
                        <a href="/Home/" title="Ir a inicio">
                            <img src="~/Images/logo_01.png" alt="Inicio" />
                        </a>
                    </div>
                    <h1>
                        <label>T<b class="pink">u</b>rismo</label>
                    </h1>
                    <div class="texto_contactenos">
                        <a data-toggle="modal" href="#responsive" onclick="limpiar()" class="social">
                            <img src="~/Images/contactenos.png" alt="Contáctenos" class="rotate_index contacto">
                        </a>
                    </div>
                    <div class="header-icon">
                        <img src="~/Images/category/@conCategoria.CategoriaImagen(categoriaId)" alt="Turismo">
                    </div>
                    <div class="social">
                        <div class="cuerda">
                            <a href="https://twitter.com/quehacemospues" target="_blank" class="tw rotate">
                                <img src="~/Images/icon_twitter.png" alt="Twitter"></a>
                            <a href="https://www.facebook.com/Quehacemospues" target="_blank" class="fb rotate">
                                <img src="~/Images/icon_facebook.png" alt="Facebook"></a>
                        </div>
                    </div>

                    <div class="line"></div>
                }
                else if (categoriaId == 4)
                {
                    <div class="inicio">
                        <a href="/Home/" title="Ir a inicio">
                            <img src="~/Images/logo_01.png" alt="Inicio" />
                        </a>
                    </div>
                    <h1>
                        <label>C<b class="blue">u</b>ltura</label>
                    </h1>
                    <div class="texto_contactenos">
                        <a data-toggle="modal" href="#responsive" onclick="limpiar()" class="social">
                            <img src="~/Images/contactenos.png" alt="Contáctenos" class="rotate_index contacto">
                        </a>
                    </div>
                    <div class="header-icon">
                        <img src="~/Images/category/@conCategoria.CategoriaImagen(categoriaId)" alt="Cultura">
                    </div>

                    <div class="social">
                        <div class="cuerda">
                            <a href="https://twitter.com/quehacemospues" target="_blank" class="tw rotate">
                                <img src="~/Images/icon_twitter.png" alt="Twitter"></a>
                            <a href="https://www.facebook.com/Quehacemospues" target="_blank" class="fb rotate">
                                <img src="~/Images/icon_facebook.png" alt="Facebook"></a>
                        </div>
                    </div>

                    <div class="line"></div>
                }
                else if (categoriaId == 5)
                {
                    <div class="inicio">
                        <a href="/Home/" title="Ir a inicio">
                            <img src="~/Images/logo_01.png" alt="Inicio" />
                        </a>
                    </div>
                    <h1>
                        <label>Hos<b class="yellow">p</b>edaje</label>
                    </h1>
                    <div class="texto_contactenos">
                        <a data-toggle="modal" href="#responsive" onclick="limpiar()" class="social">
                            <img src="~/Images/contactenos.png" alt="Contáctenos" class="rotate_index contacto">
                        </a>
                    </div>
                    <div class="header-icon">
                        <img src="~/Images/category/@conCategoria.CategoriaImagen(categoriaId)" alt="Hospedaje">
                    </div>

                    <div class="social">
                        <div class="cuerda">
                            <a href="https://twitter.com/quehacemospues" target="_blank" class="tw rotate">
                                <img src="~/Images/icon_twitter.png" alt="Twitter"></a>
                            <a href="https://www.facebook.com/Quehacemospues" target="_blank" class="fb rotate">
                                <img src="~/Images/icon_facebook.png" alt="Facebook"></a>
                        </div>
                    </div>

                    <div class="line"></div>
                }
                else
                {
                    <div class="inicio">
                        <a href="/Home/" title="Ir a inicio">
                            <img src="~/Images/logo_01.png" alt="Inicio" />
                        </a>
                    </div>
                    <div class="texto_contactenos">
                        <a data-toggle="modal" href="#responsive" onclick="limpiar()" class="social">
                            <img src="~/Images/contactenos.png" alt="Contáctenos" class="rotate_index contacto">
                        </a>
                    </div>
                    <h1>
                        <label>Co<b class="pink">m</b>ercio</label>
                    </h1>
                    <div class="header-icon">
                        <img src="~/Images/category/@conCategoria.CategoriaImagen(categoriaId)" alt="Comercio">
                    </div>

                    <div class="social">
                        <div class="cuerda">
                            <a href="https://twitter.com/quehacemospues" target="_blank" class="tw rotate">
                                <img src="~/Images/icon_twitter.png" alt="Twitter"></a>
                            <a href="https://www.facebook.com/Quehacemospues" target="_blank" class="fb rotate">
                                <img src="~/Images/icon_facebook.png" alt="Facebook"></a>
                        </div>
                    </div>

                    <div class="line"></div>
           
                }
            </header>
            <!--fin div header-->
        </div>
        <div id="content">
            <div class="container">
                <nav>
                    <div>
                        @foreach (var cat in conCategoria.CategoriasMenu())
                        {

                            if (cat.categoria_id != categoriaId)
                            {
                                if (cat.categoria_id == 5)
                                {
                            <a href="@cat.categoria_enlace">
                                <img src="~/Images/category/@cat.categoria_imagenMenu" alt="@cat.categoria_nombre" class="rotate" title="@cat.categoria_nombre"></a>
                                }
                                else
                                {
                            <a href="@cat.categoria_enlace">
                                <img src="~/Images/category/@cat.categoria_imagenMenu" alt="@cat.categoria_nombre" class="rotate" title="@cat.categoria_nombre"></a>
                                }
                            }
                        }
                    </div>
                </nav>
                <div class="container">
                    @using (Html.BeginForm("QueHacemosPues", "Categoria", FormMethod.Post))
                    {
                        @Html.DropDownList("subcatId", new SelectList(conCategoria.SelectSubcategorias(categoriaId), "value", "text", @subcat), new { @class = "form-control select_subcateg" })
                        <span>&nbsp;</span>
                        <input type="hidden" id="id" name="id" value="@categoriaId" />
                        <input type="hidden" id="nombre" name="nombre" value="@categoriaNombre" />
                        <input type="hidden" id="subcategoria" name="subcategoria" value="" />
                
                        <input type="submit" class="btn btn-primary btn_margin" onclick="asignarId()" value="Filtrar" />

                    }
                    <br />
                    @using (Html.BeginForm("Buscar", "Categoria", FormMethod.Post))
                    {
                        @Html.TextBox("searchTerm", null, new { id = "searchTerm", @class = "form-control", @style = "width:30%;" })
                        <span>&nbsp;</span>
                      
                        <input type="submit" class="btn btn-primary btn_margin" style="margin-top: 10px;" value="Buscar" />

                    }
                </div>

                <div class="content-stores" id="empresas">
                    @foreach (var emp in Model.OrderByDescending(m => m.empresa_calific_total))
                    {
                        <div class="store">
                            <div class="store-img">
                                <a href="/Perfil/Empresa/@emp.empresa_id/@emp.empresa_nombre_url">
                                    <img src="~/Images/Empresa/Thumbs/@emp.empresa_imagen" alt="@emp.empresa_nombre"></a>
                            </div>
                            <div class="store-title">@emp.empresa_nombre</div>
                            <div class="store-stars">
                                <span>Calificación</span>
                                <span class="stars">
                                    @if (emp.empresa_calific_total >= 0)
                                    {
                                        for (int i = 0; i < 5; i++)
                                        {
                                            if (i < emp.empresa_calific_total)
                                            {
                                        <b class="star fill"></b>
                                            }
                                            else
                                            {
                                        <b class="star"></b>
                                            }
                                        }
                                    }
                                </span>
                            </div>
                        </div>   
                    }
                </div>
                  <div>
                    <ul class="pagination">
                        @if (Model.HasPreviousPage)
                        {
                            <li>@Html.RouteLink("<<", "Category", new { action = "QueHacemosPues", id = categoriaId, nombre = categoriaNombre, pagina = 1, subcategoria = subcat })
                            </li>
                            @Html.Raw(" ");
                        }
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (i == Model.PageNumber)
                            {
                            <li>@Html.RouteLink(i.ToString(), "Category", new { action = "QueHacemosPues", id = categoriaId, nombre = categoriaNombre, pagina = i, subcategoria = subcat })
                            </li>
                            }
                            else
                            {
                            <li>@Html.RouteLink(i.ToString(), "Category", new { action = "QueHacemosPues", id = categoriaId, nombre = categoriaNombre, pagina = i, subcategoria = subcat })
                            </li>
                            }

                        }
                        @if (Model.HasNextPage)
                        {
                            <li>@Html.RouteLink(">>", "Category", new { action = "QueHacemosPues", id = categoriaId, nombre = "Test", pagina = Model.PageCount, subcategoria = subcat })
                                </li>
                        }
                    </ul>
                </div>
            </div>

            <section>
                <div class="line_footer"></div>
            </section>
            <!-- Modal Definitions (tabbed over for <pre>) -->
            <div id="responsive" class="modal fade" tabindex="-1" data-width="370" style="display: none;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title titulo_formulario">Formulario de Contacto</h4>
                </div>
                @using (Html.BeginForm("EnviarMensaje", "Contacto", FormMethod.Post, new { id = "form-contacto" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div>
                            <div>
                                <p>
                                    <label class="texto_formulario">Como te Llamas ?</label>
                                    <input class="form-control letter_contact" id="name" name="name" type="text" />
                                </p>
                                <p>
                                    <label class="texto_formulario">Tu Correo por Favor ?</label>
                                    <input class="form-control letter_contact" id="email" name="email" type="text" />
                                </p>
                                <p>
                                    <label class="texto_formulario">Tu Mensaje</label>
                                    <textarea class="form-control letter_contact" id="message" name="message"></textarea>
                                </p>
                            </div>
                            <input type="hidden" name="tipo" value="categoria" />
                            <input type="hidden" name="categoria" value="@categoriaId"/>
                            <label id="enviando" class="texto_formulario" style="display: none">Enviando...</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" onclick="enviar()" value="Contactar" />
                        &nbsp;
                    <input type="button" data-dismiss="modal" class="btn btn-primary" value="Regresar" />
                    </div>
                }
            </div>

            <a data-toggle="modal" id="resCorreo" href="#respCorreo" class="social"></a>
            <!-- Indica si el correo se envío correctamente -->
            <div id="respCorreo" class="modal fade" tabindex="-1" data-width="370" style="display: none;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title titulo_formulario">Aviso Que Hacemos Pues</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="">
                            <p>
                                <label class="texto_formulario" id="txtValidacion"></label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" data-dismiss="modal" class="btn btn-primary" value="Aceptar" />
                </div>
            </div>
            <input type="hidden" id="correo" value="@correo" />
        </div>
        <div id="footer">
            <span>Catapulta Ideas 2013 - mercadeoyventas@@quehacemospues.com</span>
        </div>
    </div>
    @Scripts.Render("~/content/js_contacto")
    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script>
        $(document).ready(function () { var cor = $("#correo").val(); if (cor === "1") { $("#txtValidacion").text("El correo ha sido enviado Exitosamente. Pronto estaremos en contacto !"); $("#resCorreo").trigger("click") } else { if (cor === "0") { $("#txtValidacion").text("Ha ocurrido un error. Intenta en unos minutos !"); $("#resCorreo").trigger("click") } } $("#searchTerm").autocomplete({ source: '@Url.Action("getEmpresasAutocomplete")' }) }); function asignarId() { var ident = $("#subcatId").val(); $("#subcategoria").val(ident) };

        //var _gaq = _gaq || [];
        //_gaq.push(['_setAccount', 'UA-47117620-1']);
        //_gaq.push(['_trackPageview']);
        //(function () {
        //    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

        //    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

        //    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        //})();

    </script>
</body>
</html>
