﻿@model jardinMvc.Models.UsuarioPublicoModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutWm.cshtml";
}

@section css
{
    <style>
        #content {
            padding-top: 45px !important;
        }
    </style>

}

<p class="lead">
    <span class="pink">Registre su</span>
    <span class="pink">empresa</span>
</p>

@using (Html.BeginForm("Crear", "Perfil", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@
    @Html.ValidationSummary()

    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_nombre)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.empresa_nombre)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.UserName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.UserName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.Password)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ConfirmPassword)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.ConfirmPassword)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_descripcion)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.empresa_descripcion, new { style = "height:200px" })
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_correo)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.empresa_correo)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_telefono)
        <label style="font-weight: normal;">(visible en el perfil)</label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.empresa_telefono)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_telContacto)
        <label style="font-weight: normal;">(solo será visible para el administrador del sitio)</label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.empresa_telContacto)
        @Html.ValidationMessageFor(model => model.empresa_telContacto)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_facebook)
        <label style="font-weight: normal;">ejemplo https://www.facebook.com/Quehacemospues </label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.empresa_facebook)
        @Html.ValidationMessageFor(model => model.empresa_facebook)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.empresa_twitter)
        <label style="font-weight: normal;">ejemplo https://twitter.com/quehacemospues </label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.empresa_twitter)
        @Html.ValidationMessageFor(model => model.empresa_twitter)
    </div>
    <br />
    <div class="editor-label">
        <label>Imagen de Perfil</label>
        <label style="font-weight: normal;">peso máximo 5mb </label>
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.empresa_imagen, new { type = "file", onchange="check_file('empresa_imagen')" })
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.categoria_id, "Categoría")
    </div>
    <div class="editor-field">
        @Html.DropDownList("categoria_id")
        @Html.ValidationMessageFor(model => model.categoria_id)
    </div>
    <br />
    <div class="editor-label">
        @Html.Label("Subcategorías")
    </div>
    <div id="divSubcategorias" class="checkbox" style="width: 20%;">
    </div>
    <br />
    <div class="editor-label">
        <label style="font-weight: normal;">Galería Imágenes: (peso máximo de cada imagen 5mb)</label>
        <br />
        <input type="button" onclick="AddFileUpload()" value="Agregar Imagen" class="btn btn-primary" />
    </div>
    <div id="FileUploadContainer" style="margin-top: 15px;">
        <!--FileUpload Controls will be added here -->
    </div>
    <div class="editor-field">
        @Html.HiddenFor(model => model.UserName)
    </div>
    <br />
    <p>
        <input type="submit" class="btn btn-primary" onclick="cargarGif()" value="Actualizar" />
        &nbsp;
            <input type="button" class="btn btn-primary" onclick="Regresar()" value="Regresar" />
    </p>
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            $("#liEmpresa").addClass("active");
        });

        function cargarGif() {
            $("#loading").css("display", "block");
        }

        var counter = 0;
        function AddFileUpload() {

            if (counter < 8) {
                var div = document.createElement('DIV');
                div.innerHTML = '<input id="file' + counter + '" name="images" type="file" onchange="check_file(this.id)" />' +
                                '<input id="Button' + counter + '" type="button" ' +
                                'value="Remover" class="btn btn-primary" style="margin-left: 10px;" onclick = "RemoveFileUpload(this)" />';
                document.getElementById("FileUploadContainer").appendChild(div);
                counter++;
            } else {
                alert("Solo se permiten máximo 8 imágenes por empresa");
            }
        }

        function RemoveFileUpload(div) {
            document.getElementById("FileUploadContainer").removeChild(div.parentNode);
            counter--;
        }

        function Regresar() {
            document.location = "/";
        }

        function validarCampos() {
            var nom = $('#nombre').val();
            if (nom == "") {
                $('#spanNom').css("display", "block");
                return false;
            }
            return true;
        }

        $("#categoria_id").ready(function () {

            var idCat = $('#categoria_id').val();
            var subDiv = $("#divSubcategorias");
            subDiv.empty();
            $.getJSON("/Perfil/Subcategorias", { categoria_id: idCat }, function (result) {
                $.each(result, function (i, field) {
                    $('<input type="checkbox" ' + field.check + ' id="' + field.identificador + '" value="' + field.identificador + '" name="checkSubcategorias"/><label for=' + field.identificador + ' name="lblEspeciales"> ' + field.nombre + ' </label>').appendTo(subDiv);
                });

            });
        });

        $("#categoria_id").change(function () {

            var idCat = $('#categoria_id').val();
            var subDiv = $("#divSubcategorias");
            subDiv.empty();
            $.getJSON("/Perfil/Subcategorias", { categoria_id: idCat }, function (result) {
                $.each(result, function (i, field) {
                    $('<input type="checkbox" ' + field.check + ' id="' + field.identificador + '" value="' + field.identificador + '" name="checkSubcategorias"/><label for=' + field.identificador + ' name="lblEspeciales"> ' + field.nombre + ' </label>').appendTo(subDiv);
                });

            });
        });

        function check_file(nombre) {
            var ext = $('#'+nombre).val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                alert('Extensión Inválida, solo se permiten gif, png, jpg, jpeg!');
                $('#'+nombre).val("");
            }
        }

    </script>
}
