﻿@model jardinMvc.Context.tbl_empresa
@{
    Layout = null;
    var correo = TempData["correo"];
    var comen = TempData["comen"];
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>


    @Styles.Render("~/content/css_perfiles")
    @Styles.Render("~/content/css_contacto")
    @Styles.Render("~/css_rating")

    @*<link rel="stylesheet" href="~/Content/global.css">*@
    <!--[if lt IE 9]>
        <script type="text/javascript">
           document.createElement("nav");
           document.createElement("header");
           document.createElement("footer");
           document.createElement("section");
           document.createElement("article");
           document.createElement("aside");
           document.createElement("hgroup");
        </script>
        <style type="text/css">
            header
            ,nav
            ,section
            ,article
            ,aside
            ,footer
            ,hgroup
            {
                display: block;
            }
        </style>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <div id="header">

            <header class="header-profile">
                <div class="inicio">
                    <a title="Ir a Categorías" href="/Categoria/QueHacemosPues/1/Restaurantes">
                        <img alt="Inicio" src="/Images/logo_01.png">
                    </a>
                </div>
                <div class="header-icon">
                    <img src="~/Images/Empresa/@Model.empresa_imagen" alt="@Model.empresa_nombre">
                </div>
                <div style="display: inline;">
                </div>
                <aside class="social">
                    @if (Model.empresa_facebook != "")
                    {
                        <a href="@Model.empresa_facebook" target="_blank" title="Ir a Facebook" class="rotate">
                            <img src="~/Images/icon_facebook.png">
                        </a>   
                    }
                    else
                    {
                        <a href="#" target="_blank" title="Ir a Facebook" class="rotate">
                            <img src="~/Images/icon_facebook.png">
                        </a>
                    }

                    @if (Model.empresa_twitter != "")
                    {
                        <a href="@Model.empresa_twitter" target="_blank" title="Ir a Twitter" class="rotate">
                            <img src="~/Images/icon_twitter.png">
                        </a>  
                    }
                    else
                    {
                        <a href="#" target="_blank" title="Ir a Twitter" class="rotate">
                            <img src="~/Images/icon_twitter.png">
                        </a>
                    }

                    <a href="#" target="_blank" style="overflow: hidden;">
                        <img src="~/Images/profile/phone.png">
                    </a>
                    <label style="margin-bottom: 17px; color: #40160a; font-family: Calibri; overflow: hidden;">
                        @Model.empresa_telefono
                    </label>
                </aside>

            </header>
        </div>

        <div id="content">

            <div>
                <nav class="profile">
                    <div class="tabla_perfil">
                        <a id="pop" href="#" class="rotate_profile"
                            data-toggle="popover" data-content="@Model.empresa_descripcion">
                            <label>Quiénes somos</label>
                        </a>
                        <a data-toggle="modal" href="#responsive" onclick="limpiarContact()" class="rotate_profile">
                            <label>Contáctenos</label>
                        </a>
                    </div>
                    <div id="divTextoCalifica">
                        <a id="popCalifica" href="#" class="textoCalifica"
                            data-toggle="popover" data-content="@ViewBag.cantidadCalificaciones personas nos han calificado">
                            <img src="~/Images/icons/calificanos.png" alt="Califícano" />
                        </a>
                    </div>
                    <div class="content-profile">
                        <div class="estrellas" style="float:right;" data-average="@Model.empresa_calific_total" data-id="9"></div>
                    </div>
                </nav>

            </div>

            @if(Model.tbl_imagen.ToList().Count > 0)
            {    
                <div id="containingDiv">
                    <div id="allinone_carousel_charming">
                        <div class="myloader"></div>
                        <!-- CONTENT -->
                        <ul class="allinone_carousel_list">
                            @foreach (var item in Model.tbl_imagen.ToList())
                            {
                                <li>
                                    <img src="/Images/Empresa/Galeria/@item.imagen_nombre" alt="" />
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }else 
            {
                <br /><br /><br />
            }

            @*contenedor*@
            <div class="containerPerfil">
                <div class="content-contact">
                    <div class="left">
                        <div class="book">
                            <label class="comment-title" for="">Últimos Eventos</label>
                            <ul>
                                @foreach (var evento in Model.tbl_evento_empresa.Where(m => m.evento_fechaInicio <= DateTime.Now && DateTime.Now < m.evento_fechaFin).OrderBy(m => m.evento_fechaEvento))
                                {
                                    <li style="padding-bottom: 12px;">
                                        <strong style="font-size: 18px;">@evento.evento_nombre</strong> &nbsp; @evento.evento_fechaEvento.ToShortDateString()
                                        <br />
                                        <br />
                                        <span style="font-weight: normal;">
                                            @evento.evento_descripcion
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <div>

                            <div class="form-comment">
                                <label class="comment-title" for=""></label>
                                <ul>
                                    @foreach (var coment in Model.tbl_comentario_empresa.OrderByDescending(m => m.comentario_fecha))
                                    {
                                        <li style="padding-bottom: 12px;">
                                            <strong style="font-size: 18px;">@coment.comentario_nombre</strong> &nbsp; @coment.comentario_fecha.ToShortDateString()
                                            <br />
                                            @coment.comentario_mensaje
                                        </li>
                                    }
                                </ul>
                                <button data-toggle="modal" onclick="limpiarComent()" href="#resComen">Comentar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <span>Catapulta Ideas 2013 - mercadeoyventas@@quehacemospues.com</span>
        </div>

    </div>

    <!-- Modal Definitions (tabbed over for <pre>) -->
    <div id="responsive" class="modal fade" tabindex="-1" data-width="370" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title titulo_formulario">Formulario de Contacto</h4>
        </div>
        @using (Html.BeginForm("ContacoEmpresa", "Contacto", FormMethod.Post, new { id = "form-contacto" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div>
                    <div>
                        <p>
                            <label class="texto_formulario">Como te Llamas ?</label>
                            <input class="form-control letter_contact" id="nomContact" name="nomContact" type="text" />
                        </p>
                        <p>
                            <label class="texto_formulario">Tu Correo por Favor ?</label>
                            <input class="form-control letter_contact" id="corContact" name="corContact" type="text" />
                        </p>
                        <p>
                            <label class="texto_formulario">Tu Mensaje</label>
                            <textarea class="form-control letter_contact" id="mensContact" name="mensContact"></textarea>
                        </p>
                    </div>
                    <input type="hidden" name="empresa_id" value="@Model.empresa_id" />
                    <label id="enviaContact" class="texto_formulario" style="display: none">Enviando...</label>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" onclick="enviarContact()" value="Contactar" />
                &nbsp;
                <input type="button" data-dismiss="modal" class="btn btn-primary" value="Regresar" />
            </div>
        }
    </div>

    <!-- Comentarios -->
    <div id="resComen" class="modal fade" tabindex="-1" data-width="370" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title titulo_formulario">Comentario</h4>
        </div>
        @using (Html.BeginForm("Comentario", "Perfil", FormMethod.Post, new { id = "form-coment" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div>
                    <div>
                        <p>
                            <label class="texto_formulario">Como te Llamas ?</label>
                            <input class="form-control letter_contact" id="nomComent" name="nomComent" type="text" />
                        </p>
                        <p>
                            <label class="texto_formulario">Tu Correo por Favor ?</label>
                            <input class="form-control letter_contact" id="corComent" name="corComent" type="text" />
                        </p>
                        <p>
                            <label class="texto_formulario">Tu Comentario</label>
                            <textarea class="form-control letter_contact" id="mensComent" name="mensComent"></textarea>
                        </p>
                    </div>
                    <input type="hidden" name="empresa_id" value="@Model.empresa_id" />
                    <label id="enviaComent" class="texto_formulario" style="display: none">Enviando...</label>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" onclick="enviarComent()" value="Comentar" />
                &nbsp;
                <input type="button" data-dismiss="modal" class="btn btn-primary" value="Regresar" />
            </div>
        }
    </div>

    <a data-toggle="modal" id="resCorreo" href="#respCorreo" class="social"></a>
    <!-- Indica si el correo se envío correctamente -->
    <div id="respCorreo" class="modal fade" tabindex="-1" data-width="370" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title titulo_formulario">Aviso Que Hacemos Pues</h4>
        </div>
        <div class="modal-body">
            <div>
                <div class="">
                    <p>
                        <label class="texto_formulario" id="txtValidacion"></label>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" data-dismiss="modal" class="btn btn-primary" value="Aceptar" />
        </div>
    </div>

    <input type="hidden" id="correo" value="@correo" />
    <input type="hidden" id="comen" value="@comen" />
    <input type="hidden" id="empresaId" value="@Model.empresa_id" />

    @Scripts.Render("~/content/js_contactoPerfil")
    <script src="@Url.Content("~/Scripts/jRating.jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/jquery.ui.touch-punch.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/allinone_carousel.js")" type="text/javascript"></script>
    <script>

        jQuery(function () {
            jQuery('#allinone_carousel_charming').allinone_carousel({
                skin: 'charming',
                width: 990,
                height: 454,
                responsive: true,
                autoPlay: 3,
                resizeImages: true,
                autoHideBottomNav: false,
                showElementTitle: false,
                verticalAdjustment: 50,
                showPreviewThumbs: false,
                //easing:'easeOutBounce',
                numberOfVisibleItems: 5,
                nextPrevMarginTop: 23,
                playMovieMarginTop: 0,
                bottomNavMarginBottom: -10
            });
        });

        $(document).ready(function () {

            var corContacto = $("#correo").val();
            var comenPerfil = $('#comen').val();

            if (corContacto === "1") {
                $("#txtValidacion").text("El correo ha sido enviado Exitosamente. Pronto estaremos en contacto !");
                $("#resCorreo").trigger('click');
            }
            else if (corContacto === "0") {
                $("#txtValidacion").text("Ha ocurrido un error. Intenta en unos minutos !");
                $("#resCorreo").trigger('click');
            }
            else if (comenPerfil === "1") {
                $("#txtValidacion").text("Gracias por tu comentario !");
                $("#resCorreo").trigger('click');
            }
            else if (comenPerfil === "0") {
                $("#txtValidacion").text("Lo sentimos. Intenta en unos minutos !");
                $("#resCorreo").trigger('click');
            }

            $('.estrellas').jRating({
                step: true,
                length: 5
            });

            $("#pop").popover({
                trigger: 'hover',
                'placement': 'auto left',
                title: 'Quiénes Somos'
            });

            $("#popCalifica").popover({
                trigger: 'hover',
                'placement': 'top',
            });
        });

        function goBack() {
            window.history.back()
        }

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-47117620-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>


</body>
</html>
